button[disabled=disabled],
button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    &.button.button-big.button-outline {
        border-color: $on_background_disable;
        color: $on_background_disable;
    }
}

.button.icon-button,
.card-footer a.link.icon-button {
    padding: 0;
    min-width: $icon_button_size;
    width: $icon_button_size;
    height: $icon_button_size;
    i,
    span {
        display: inline-block;
        line-height: $icon_button_size;
    }
}

.md {
    .fab[class*=fab-right] {
        right: 16px;
    }
    .fab[class*="-bottom"] {
        bottom: 16px;
    }
}

.md .navbar a.link.button {
    // 以下為複製Framework7 的按鈕樣式
    border-radius: 36px;
    line-height: 36px;
    height: 36px;
    text-transform: uppercase;
    min-width: 64px;
    padding: 0 8px;
    border: none;
    font-weight: 500;
    letter-spacing: .03em;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
}

// 兩顆按鈕的 FAB
.segmented.segmented-raised {
    &.fab-extended {
        .button {
            position: relative;
            box-shadow: none;
            border-left: none;
            min-width: $two_btn_FAB_width;
            *[class^=icon-] {
                color: $white;
                line-height: 48px;
            }
            &:first-child {
                *[class^=icon-] {
                    margin-left: $segmented_btn_visual_correction_margin;
                }
                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    top: 8px;
                    right: 0;
                    width: 1px;
                    height: 32px;
                    background: rgba($white, .3);
                }
            }
            &:last-child {
                *[class^=icon-] {
                    margin-right: $segmented_btn_visual_correction_margin;
                }
            }
        }
    }
}

// inline 的兩顆按鈕 .segmented
p.segmented.segmented-round {
    .button {
        min-width: 48px;
        *[class^=icon-] {
            color: inherit;
            line-height: inherit;
            font-size: 20px;
        }
        &:first-child {
            *[class^=icon-] {
                margin-left: $segmented_btn_visual_correction_margin;
            }
        }
        &:last-child {
            *[class^=icon-] {
                margin-right: $segmented_btn_visual_correction_margin;
            }
        }
    }
}

// 增加保人
.md {
    .add-guarantor-button.button {
        @extend .body-2;
        color: $color_block_title;
        text-align: left;
        padding-left: 16px;
        margin: 12px 0 24px;
        *[class^=icon-] {
            vertical-align: -4px;
        }
    }
}
