.card-row-title.block-title {
    margin-bottom: 0;
}

.photo-card-row {
    padding: 8px 4px 0;
    justify-content: flex-start;
    .col-50 {
        .card {
            margin: 0 4px 8px;
            .card-content {
                height: 152px;
                background-size: cover;
                background-position: center;
                overflow: hidden; // 讓點擊後的圓形動畫不溢出
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            .card-footer {
                padding: 0 0 0 16px;
                color: inherit;
                .left {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .right {
                    width: $icon_button_size;
                }
            }
        }
        &:nth-child(4n + 1) {
            .card-content {
                background-image: url(../image/IMG_20180921_120258-min.jpg);
            }
        }
        &:nth-child(4n + 2) {
            .card-content {
                background-image: url(../image/IMG_20180921_120312-min.jpg);
            }
        }
        &:nth-child(4n + 3) {
            .card-content {
                background-image: url(../image/IMG_20180921_120324-min.jpg);
            }
        }
        &:nth-child(4n + 4) {
            .card-content {
                background-image: url(../image/photo_cut.jpg);
            }
        }
    }
}
