.dialog {
    .dialog-button {
        color: $red;
    }
}

.md {
    .last-news-dialog {
        .dialog-inner {
            padding: 0;
            .dialog-text {
                margin-top: 0;
                @extend .flex-column;
                header {
                    position: relative;
                    height: 104px;
                    background-image: url(../image/last_news_bell.svg);
                    background-position: center;
                    background-size: cover;
                    h6 {
                        position: absolute;
                        left: 16px;
                        bottom: 16px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .md .last-news-dialog {
        width: $last_news_dialog_tablet_width;
        margin-left: calc(-#{$last_news_dialog_tablet_width} / 2 - 10px);
        .dialog-inner {
            .dialog-text {
                header {
                    height: 200px;
                }
            }
        }
    }
}