// Framework7 Grid - - - - - - - - - - - - -
// 把129個 １６px gap 改為 ８px
.md .row .col-100 {
  width: calc((100% - 8px*0) / 1);
}
.md .row .col-95 {
  width: calc((100% - 8px*0.05263157894736836) / 1.0526315789473684);
}
.md .row .col-90 {
  width: calc((100% - 8px*0.11111111111111116) / 1.1111111111111112);
}
.md .row .col-85 {
  width: calc((100% - 8px*0.17647058823529416) / 1.1764705882352942);
}
.md .row .col-80 {
  width: calc((100% - 8px*0.25) / 1.25);
}
.md .row .col-75 {
  width: calc((100% - 8px*0.33333333333333326) / 1.3333333333333333);
}
.md .row .col-70 {
  width: calc((100% - 8px*0.4285714285714286) / 1.4285714285714286);
}
.md .row .col-66 {
  width: calc((100% - 8px*0.5000000000000002) / 1.5000000000000002);
}
.md .row .col-65 {
  width: calc((100% - 8px*0.5384615384615385) / 1.5384615384615385);
}
.md .row .col-60 {
  width: calc((100% - 8px*0.6666666666666667) / 1.6666666666666667);
}
.md .row .col-55 {
  width: calc((100% - 8px*0.8181818181818181) / 1.8181818181818181);
}
.md .row .col-50 {
  width: calc((100% - 8px*1) / 2);
}
.md .row .col-45 {
  width: calc((100% - 8px*1.2222222222222223) / 2.2222222222222223);
}
.md .row .col-40 {
  width: calc((100% - 8px*1.5) / 2.5);
}
.md .row .col-35 {
  width: calc((100% - 8px*1.8571428571428572) / 2.857142857142857);
}
.md .row .col-33 {
  width: calc((100% - 8px*2) / 3);
}
.md .row .col-30 {
  width: calc((100% - 8px*2.3333333333333335) / 3.3333333333333335);
}
.md .row .col-25 {
  width: calc((100% - 8px*3) / 4);
}
.md .row .col-20 {
  width: calc((100% - 8px*4) / 5);
}
.md .row .col-15 {
  width: calc((100% - 8px*5.666666666666667) / 6.666666666666667);
}
.md .row .col-10 {
  width: calc((100% - 8px*9) / 10);
}
.md .row .col-5 {
  width: calc((100% - 8px*19) / 20);
}
.md .row .col:nth-last-child(1),
.md .row .col:nth-last-child(1) ~ .col {
  width: calc((100% - 8px*0) / 1);
}
.md .row .col:nth-last-child(2),
.md .row .col:nth-last-child(2) ~ .col {
  width: calc((100% - 8px*1) / 2);
}
.md .row .col:nth-last-child(3),
.md .row .col:nth-last-child(3) ~ .col {
  width: calc((100% - 8px*2) / 3);
}
.md .row .col:nth-last-child(4),
.md .row .col:nth-last-child(4) ~ .col {
  width: calc((100% - 8px*3) / 4);
}
.md .row .col:nth-last-child(5),
.md .row .col:nth-last-child(5) ~ .col {
  width: calc((100% - 8px*4) / 5);
}
.md .row .col:nth-last-child(6),
.md .row .col:nth-last-child(6) ~ .col {
  width: calc((100% - 8px*5) / 6);
}
.md .row .col:nth-last-child(7),
.md .row .col:nth-last-child(7) ~ .col {
  width: calc((100% - 8px*6) / 7);
}
.md .row .col:nth-last-child(8),
.md .row .col:nth-last-child(8) ~ .col {
  width: calc((100% - 8px*7) / 8);
}
.md .row .col:nth-last-child(9),
.md .row .col:nth-last-child(9) ~ .col {
  width: calc((100% - 8px*8) / 9);
}
.md .row .col:nth-last-child(10),
.md .row .col:nth-last-child(10) ~ .col {
  width: calc((100% - 8px*9) / 10);
}
.md .row .col:nth-last-child(11),
.md .row .col:nth-last-child(11) ~ .col {
  width: calc((100% - 8px*10) / 11);
}
.md .row .col:nth-last-child(12),
.md .row .col:nth-last-child(12) ~ .col {
  width: calc((100% - 8px*11) / 12);
}
.md .row .col:nth-last-child(13),
.md .row .col:nth-last-child(13) ~ .col {
  width: calc((100% - 8px*12) / 13);
}
.md .row .col:nth-last-child(14),
.md .row .col:nth-last-child(14) ~ .col {
  width: calc((100% - 8px*13) / 14);
}
.md .row .col:nth-last-child(15),
.md .row .col:nth-last-child(15) ~ .col {
  width: calc((100% - 8px*14) / 15);
}
.md .row .col:nth-last-child(16),
.md .row .col:nth-last-child(16) ~ .col {
  width: calc((100% - 8px*15) / 16);
}
.md .row .col:nth-last-child(17),
.md .row .col:nth-last-child(17) ~ .col {
  width: calc((100% - 8px*16) / 17);
}
.md .row .col:nth-last-child(18),
.md .row .col:nth-last-child(18) ~ .col {
  width: calc((100% - 8px*17) / 18);
}
.md .row .col:nth-last-child(19),
.md .row .col:nth-last-child(19) ~ .col {
  width: calc((100% - 8px*18) / 19);
}
.md .row .col:nth-last-child(20),
.md .row .col:nth-last-child(20) ~ .col {
  width: calc((100% - 8px*19) / 20);
}
.md .row .col:nth-last-child(21),
.md .row .col:nth-last-child(21) ~ .col {
  width: calc((100% - 8px*20) / 21);
}
@media (min-width: 768px) {
  .md .row .tablet-100 {
    width: calc((100% - 8px*0) / 1);
  }
  .md .row .tablet-95 {
    width: calc((100% - 8px*0.05263157894736836) / 1.0526315789473684);
  }
  .md .row .tablet-90 {
    width: calc((100% - 8px*0.11111111111111116) / 1.1111111111111112);
  }
  .md .row .tablet-85 {
    width: calc((100% - 8px*0.17647058823529416) / 1.1764705882352942);
  }
  .md .row .tablet-80 {
    width: calc((100% - 8px*0.25) / 1.25);
  }
  .md .row .tablet-75 {
    width: calc((100% - 8px*0.33333333333333326) / 1.3333333333333333);
  }
  .md .row .tablet-70 {
    width: calc((100% - 8px*0.4285714285714286) / 1.4285714285714286);
  }
  .md .row .tablet-66 {
    width: calc((100% - 8px*0.5000000000000002) / 1.5000000000000002);
  }
  .md .row .tablet-65 {
    width: calc((100% - 8px*0.5384615384615385) / 1.5384615384615385);
  }
  .md .row .tablet-60 {
    width: calc((100% - 8px*0.6666666666666667) / 1.6666666666666667);
  }
  .md .row .tablet-55 {
    width: calc((100% - 8px*0.8181818181818181) / 1.8181818181818181);
  }
  .md .row .tablet-50 {
    width: calc((100% - 8px*1) / 2);
  }
  .md .row .tablet-45 {
    width: calc((100% - 8px*1.2222222222222223) / 2.2222222222222223);
  }
  .md .row .tablet-40 {
    width: calc((100% - 8px*1.5) / 2.5);
  }
  .md .row .tablet-35 {
    width: calc((100% - 8px*1.8571428571428572) / 2.857142857142857);
  }
  .md .row .tablet-33 {
    width: calc((100% - 8px*2) / 3);
  }
  .md .row .tablet-30 {
    width: calc((100% - 8px*2.3333333333333335) / 3.3333333333333335);
  }
  .md .row .tablet-25 {
    width: calc((100% - 8px*3) / 4);
  }
  .md .row .tablet-20 {
    width: calc((100% - 8px*4) / 5);
  }
  .md .row .tablet-15 {
    width: calc((100% - 8px*5.666666666666667) / 6.666666666666667);
  }
  .md .row .tablet-10 {
    width: calc((100% - 8px*9) / 10);
  }
  .md .row .tablet-5 {
    width: calc((100% - 8px*19) / 20);
  }
  .md .row .tablet-auto:nth-last-child(1),
  .md .row .tablet-auto:nth-last-child(1) ~ .tablet-auto {
    width: calc((100% - 8px*0) / 1);
  }
  .md .row .tablet-auto:nth-last-child(2),
  .md .row .tablet-auto:nth-last-child(2) ~ .tablet-auto {
    width: calc((100% - 8px*1) / 2);
  }
  .md .row .tablet-auto:nth-last-child(3),
  .md .row .tablet-auto:nth-last-child(3) ~ .tablet-auto {
    width: calc((100% - 8px*2) / 3);
  }
  .md .row .tablet-auto:nth-last-child(4),
  .md .row .tablet-auto:nth-last-child(4) ~ .tablet-auto {
    width: calc((100% - 8px*3) / 4);
  }
  .md .row .tablet-auto:nth-last-child(5),
  .md .row .tablet-auto:nth-last-child(5) ~ .tablet-auto {
    width: calc((100% - 8px*4) / 5);
  }
  .md .row .tablet-auto:nth-last-child(6),
  .md .row .tablet-auto:nth-last-child(6) ~ .tablet-auto {
    width: calc((100% - 8px*5) / 6);
  }
  .md .row .tablet-auto:nth-last-child(7),
  .md .row .tablet-auto:nth-last-child(7) ~ .tablet-auto {
    width: calc((100% - 8px*6) / 7);
  }
  .md .row .tablet-auto:nth-last-child(8),
  .md .row .tablet-auto:nth-last-child(8) ~ .tablet-auto {
    width: calc((100% - 8px*7) / 8);
  }
  .md .row .tablet-auto:nth-last-child(9),
  .md .row .tablet-auto:nth-last-child(9) ~ .tablet-auto {
    width: calc((100% - 8px*8) / 9);
  }
  .md .row .tablet-auto:nth-last-child(10),
  .md .row .tablet-auto:nth-last-child(10) ~ .tablet-auto {
    width: calc((100% - 8px*9) / 10);
  }
  .md .row .tablet-auto:nth-last-child(11),
  .md .row .tablet-auto:nth-last-child(11) ~ .tablet-auto {
    width: calc((100% - 8px*10) / 11);
  }
  .md .row .tablet-auto:nth-last-child(12),
  .md .row .tablet-auto:nth-last-child(12) ~ .tablet-auto {
    width: calc((100% - 8px*11) / 12);
  }
  .md .row .tablet-auto:nth-last-child(13),
  .md .row .tablet-auto:nth-last-child(13) ~ .tablet-auto {
    width: calc((100% - 8px*12) / 13);
  }
  .md .row .tablet-auto:nth-last-child(14),
  .md .row .tablet-auto:nth-last-child(14) ~ .tablet-auto {
    width: calc((100% - 8px*13) / 14);
  }
  .md .row .tablet-auto:nth-last-child(15),
  .md .row .tablet-auto:nth-last-child(15) ~ .tablet-auto {
    width: calc((100% - 8px*14) / 15);
  }
  .md .row .tablet-auto:nth-last-child(16),
  .md .row .tablet-auto:nth-last-child(16) ~ .tablet-auto {
    width: calc((100% - 8px*15) / 16);
  }
  .md .row .tablet-auto:nth-last-child(17),
  .md .row .tablet-auto:nth-last-child(17) ~ .tablet-auto {
    width: calc((100% - 8px*16) / 17);
  }
  .md .row .tablet-auto:nth-last-child(18),
  .md .row .tablet-auto:nth-last-child(18) ~ .tablet-auto {
    width: calc((100% - 8px*17) / 18);
  }
  .md .row .tablet-auto:nth-last-child(19),
  .md .row .tablet-auto:nth-last-child(19) ~ .tablet-auto {
    width: calc((100% - 8px*18) / 19);
  }
  .md .row .tablet-auto:nth-last-child(20),
  .md .row .tablet-auto:nth-last-child(20) ~ .tablet-auto {
    width: calc((100% - 8px*19) / 20);
  }
  .md .row .tablet-auto:nth-last-child(21),
  .md .row .tablet-auto:nth-last-child(21) ~ .tablet-auto {
    width: calc((100% - 8px*20) / 21);
  }
}
@media (min-width: 1025px) {
  .md .row .desktop-100 {
    width: calc((100% - 8px*0) / 1);
  }
  .md .row .desktop-95 {
    width: calc((100% - 8px*0.05263157894736836) / 1.0526315789473684);
  }
  .md .row .desktop-90 {
    width: calc((100% - 8px*0.11111111111111116) / 1.1111111111111112);
  }
  .md .row .desktop-85 {
    width: calc((100% - 8px*0.17647058823529416) / 1.1764705882352942);
  }
  .md .row .desktop-80 {
    width: calc((100% - 8px*0.25) / 1.25);
  }
  .md .row .desktop-75 {
    width: calc((100% - 8px*0.33333333333333326) / 1.3333333333333333);
  }
  .md .row .desktop-70 {
    width: calc((100% - 8px*0.4285714285714286) / 1.4285714285714286);
  }
  .md .row .desktop-66 {
    width: calc((100% - 8px*0.5000000000000002) / 1.5000000000000002);
  }
  .md .row .desktop-65 {
    width: calc((100% - 8px*0.5384615384615385) / 1.5384615384615385);
  }
  .md .row .desktop-60 {
    width: calc((100% - 8px*0.6666666666666667) / 1.6666666666666667);
  }
  .md .row .desktop-55 {
    width: calc((100% - 8px*0.8181818181818181) / 1.8181818181818181);
  }
  .md .row .desktop-50 {
    width: calc((100% - 8px*1) / 2);
  }
  .md .row .desktop-45 {
    width: calc((100% - 8px*1.2222222222222223) / 2.2222222222222223);
  }
  .md .row .desktop-40 {
    width: calc((100% - 8px*1.5) / 2.5);
  }
  .md .row .desktop-35 {
    width: calc((100% - 8px*1.8571428571428572) / 2.857142857142857);
  }
  .md .row .desktop-33 {
    width: calc((100% - 8px*2) / 3);
  }
  .md .row .desktop-30 {
    width: calc((100% - 8px*2.3333333333333335) / 3.3333333333333335);
  }
  .md .row .desktop-25 {
    width: calc((100% - 8px*3) / 4);
  }
  .md .row .desktop-20 {
    width: calc((100% - 8px*4) / 5);
  }
  .md .row .desktop-15 {
    width: calc((100% - 8px*5.666666666666667) / 6.666666666666667);
  }
  .md .row .desktop-10 {
    width: calc((100% - 8px*9) / 10);
  }
  .md .row .desktop-5 {
    width: calc((100% - 8px*19) / 20);
  }
  .md .row .desktop-auto:nth-last-child(1),
  .md .row .desktop-auto:nth-last-child(1) ~ .desktop-auto {
    width: calc((100% - 8px*0) / 1);
  }
  .md .row .desktop-auto:nth-last-child(2),
  .md .row .desktop-auto:nth-last-child(2) ~ .desktop-auto {
    width: calc((100% - 8px*1) / 2);
  }
  .md .row .desktop-auto:nth-last-child(3),
  .md .row .desktop-auto:nth-last-child(3) ~ .desktop-auto {
    width: calc((100% - 8px*2) / 3);
  }
  .md .row .desktop-auto:nth-last-child(4),
  .md .row .desktop-auto:nth-last-child(4) ~ .desktop-auto {
    width: calc((100% - 8px*3) / 4);
  }
  .md .row .desktop-auto:nth-last-child(5),
  .md .row .desktop-auto:nth-last-child(5) ~ .desktop-auto {
    width: calc((100% - 8px*4) / 5);
  }
  .md .row .desktop-auto:nth-last-child(6),
  .md .row .desktop-auto:nth-last-child(6) ~ .desktop-auto {
    width: calc((100% - 8px*5) / 6);
  }
  .md .row .desktop-auto:nth-last-child(7),
  .md .row .desktop-auto:nth-last-child(7) ~ .desktop-auto {
    width: calc((100% - 8px*6) / 7);
  }
  .md .row .desktop-auto:nth-last-child(8),
  .md .row .desktop-auto:nth-last-child(8) ~ .desktop-auto {
    width: calc((100% - 8px*7) / 8);
  }
  .md .row .desktop-auto:nth-last-child(9),
  .md .row .desktop-auto:nth-last-child(9) ~ .desktop-auto {
    width: calc((100% - 8px*8) / 9);
  }
  .md .row .desktop-auto:nth-last-child(10),
  .md .row .desktop-auto:nth-last-child(10) ~ .desktop-auto {
    width: calc((100% - 8px*9) / 10);
  }
  .md .row .desktop-auto:nth-last-child(11),
  .md .row .desktop-auto:nth-last-child(11) ~ .desktop-auto {
    width: calc((100% - 8px*10) / 11);
  }
  .md .row .desktop-auto:nth-last-child(12),
  .md .row .desktop-auto:nth-last-child(12) ~ .desktop-auto {
    width: calc((100% - 8px*11) / 12);
  }
  .md .row .desktop-auto:nth-last-child(13),
  .md .row .desktop-auto:nth-last-child(13) ~ .desktop-auto {
    width: calc((100% - 8px*12) / 13);
  }
  .md .row .desktop-auto:nth-last-child(14),
  .md .row .desktop-auto:nth-last-child(14) ~ .desktop-auto {
    width: calc((100% - 8px*13) / 14);
  }
  .md .row .desktop-auto:nth-last-child(15),
  .md .row .desktop-auto:nth-last-child(15) ~ .desktop-auto {
    width: calc((100% - 8px*14) / 15);
  }
  .md .row .desktop-auto:nth-last-child(16),
  .md .row .desktop-auto:nth-last-child(16) ~ .desktop-auto {
    width: calc((100% - 8px*15) / 16);
  }
  .md .row .desktop-auto:nth-last-child(17),
  .md .row .desktop-auto:nth-last-child(17) ~ .desktop-auto {
    width: calc((100% - 8px*16) / 17);
  }
  .md .row .desktop-auto:nth-last-child(18),
  .md .row .desktop-auto:nth-last-child(18) ~ .desktop-auto {
    width: calc((100% - 8px*17) / 18);
  }
  .md .row .desktop-auto:nth-last-child(19),
  .md .row .desktop-auto:nth-last-child(19) ~ .desktop-auto {
    width: calc((100% - 8px*18) / 19);
  }
  .md .row .desktop-auto:nth-last-child(20),
  .md .row .desktop-auto:nth-last-child(20) ~ .desktop-auto {
    width: calc((100% - 8px*19) / 20);
  }
  .md .row .desktop-auto:nth-last-child(21),
  .md .row .desktop-auto:nth-last-child(21) ~ .desktop-auto {
    width: calc((100% - 8px*20) / 21);
  }
}