// Framework7 theme color - - - - - - - - - - - - -
// 在body加「class="color-theme-red"」以套用theme color
// Framework7元件直接在此SCSS檔改色，除red外之顏色皆另標註「改為*色」
// Framework7部分元件active時的顏色原為＃f21f0f，改為＄red_darken_1，無標註「改為*色」

.md .notification-title {
    color: $red;
}

.md .tabbar .tab-link-highlight,
.md .tabbar-labels .tab-link-highlight {
    background: $red;
}

//.md .color-theme-red a {
//  color: $red;
//}

.md a.color-red {
  color: $red;
}

.md .color-theme-red .statusbar {
//  background: #d2190b;
  background: #212224; //改為深灰色
}
.md .color-theme-red .navbar,
.md .color-theme-red.navbar {
  background: $black; //改為黑色
}
.md .navbar.color-red {
  background: $red;
}
.md .color-theme-red .toolbar:not(.messagebar),
.md .color-theme-red.toolbar:not(.messagebar) {
  background: $black; //改為黑色
}
.md .toolbar:not(.messagebar).color-red {
  background: $red;
}
.md .color-theme-red .subnavbar,
.md .color-theme-red.subnavbar {
  background: $white; //改為白色
}
.md .subnavbar.color-red {
  background: $red;
}
.md .color-theme-red .list-button {
  color: $on_background; //改為文字色
}
.md .list .list-button.color-red,
.md .list li.color-red .list-button,
.md .links-list li.color-red a,
.md .simple-list li.color-red,
.md .links-list a.color-red,
.md .list .item-link.color-red,
.md .list li.color-red .item-link {
  color: $red;
}
.md .badge.color-red {
  background-color: $red;
}
.md .color-theme-red .button,
.md .color-red .button {
  color: $red;
}
.md .color-theme-red .button.button-fill,
.md .color-red .button.button-fill,
.md .color-theme-red .button.button-fill-md,
.md .color-red .button.button-fill-md,
.md .color-theme-red .button.button-active,
.md .color-red .button.button-active,
.md .color-theme-red .button.tab-link-active,
.md .color-red .button.tab-link-active {
  background-color: $red;
  color: #fff;
}
.md .color-theme-red .button.button-fill.active-state,
.md .color-red .button.button-fill.active-state,
.md .color-theme-red .button.button-fill-md.active-state,
.md .color-red .button.button-fill-md.active-state,
.md .color-theme-red .button.button-active.active-state,
.md .color-red .button.button-active.active-state,
.md .color-theme-red .button.tab-link-active.active-state,
.md .color-red .button.tab-link-active.active-state {
  background: $red_darken_1;
}
.md .color-theme-red .button.button-outline,
.md .color-red .button.button-outline {
  border-color: $red;
}
.md .button.color-red {
  color: $red;
}
.md .button.color-red.button-fill,
.md .button.color-red.button-fill-md,
.md .button.color-red.button-active,
.md .button.color-red.tab-link-active {
  background-color: $red;
  color: #fff;
}
.md .button.color-red.button-fill.active-state,
.md .button.color-red.button-fill-md.active-state,
.md .button.color-red.button-active.active-state,
.md .button.color-red.tab-link-active.active-state {
  background: $red_darken_1;
}
.md .button.color-red.button-outline {
  border-color: $red;
}
.md .ripple-color-red .ripple-wave,
.md .ripple-red .ripple-wave {
  background-color: rgba($red, 0.3);
}
.md .icon-back.color-red,
.md a.link .color-red .icon-back {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M20%2011H7.83l5.59-5.59L12%204l-8%208%208%208%201.41-1.41L7.83%2013H20v-2z'%20fill%3D'%23f44336'%2F%3E%3C%2Fsvg%3E");
}
.md .icon-forward.color-red,
.md a.link .color-red .icon-forward {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M12%204l-1.41%201.41L16.17%2011H4v2h12.17l-5.58%205.59L12%2020l8-8z'%20fill%3D'%23f44336'%2F%3E%3C%2Fsvg%3E");
}
.md .icon-next.color-red,
.md a.link .color-red .icon-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%23f44336'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M10%206L8.59%207.41%2013.17%2012l-4.58%204.59L10%2018l6-6z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
}
.md .icon-prev.color-red,
.md a.link .color-red .icon-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%23f44336'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M15.41%207.41L14%206l-6%206%206%206%201.41-1.41L10.83%2012z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
}
.md .icon.color-red {
  color: $red;
}
.md .dialog-button.color-red {
  color: $red;
}
.md .color-theme-red .login-screen-content .list-button {
  color: $red;
}
.md .login-screen-content .list-button.color-red {
  color: $red;
}
.md .actions-button.color-red,
.md .actions-label.color-red,
.md .actions-button.color-red .actions-button-text {
  color: $red;
}
.md .preloader.color-red .preloader-inner-gap,
.md .preloader.preloader-red .preloader-inner-gap,
.md .preloader.color-red .preloader-inner-half-circle,
.md .preloader.preloader-red .preloader-inner-half-circle {
  border-color: $red;
}
.md .color-theme-red .progressbar,
.md .color-theme-red .progressbar-infinite {
  background: rgba($red, 0.5);
}
.md .color-theme-red .progressbar span {
  background: $red;
}
.md .color-theme-red .progressbar-infinite:before,
.md .color-theme-red .progressbar-infinite:after {
  background: $red;
}
.md .progressbar.color-red,
.md .progressbar-infinite.color-red {
  background: rgba($red, 0.5);
}
.md .progressbar.color-red span {
  background: $red;
}
.md .progressbar-infinite.color-red:before,
.md .progressbar-infinite.color-red:after {
  background: $red;
}
.md .swipeout-actions-left .swipeout-delete,
.md .swipeout-actions-right .swipeout-delete {
  background: $red;
}
.md .swipeout-actions-left > a.color-red,
.md .swipeout-actions-right > a.color-red,
.md .swipeout-actions-left > button.color-red,
.md .swipeout-actions-right > button.color-red,
.md .swipeout-actions-left > span.color-red,
.md .swipeout-actions-right > span.color-red,
.md .swipeout-actions-left > div.color-red,
.md .swipeout-actions-right > div.color-red {
  background-color: $red;
}
.md .color-theme-red .list-index ul,
.md .list-index.color-theme-red ul {
  color: $red;
}
.md .color-theme-red .list-index .list-index-skip-placeholder:after,
.md .list-index.color-theme-red .list-index-skip-placeholder:after,
.md .color-theme-red .list-index .list-index-label,
.md .list-index.color-theme-red .list-index-label {
  background-color: $red;
}
.md .list-index.color-red ul {
  color: $red;
}
.md .list-index.color-red .list-index-skip-placeholder:after,
.md .list-index.color-red .list-index-label {
  background-color: $red;
}
.md .color-theme-red .timeline-item-date,
.md .color-theme-red .timeline-year-title,
.md .color-theme-red .timeline-month-title {
  background: $red;
}
.md .timeline.color-theme-red .timeline-item-date,
.md .timeline.color-theme-red .timeline-year-title,
.md .timeline.color-theme-red .timeline-month-title {
  background: $red;
}
.md .color-theme-red .card-header a.link,
.md .color-theme-red .card-footer a.link,
.md .card-header.color-theme-red a.link,
.md .card-footer.color-theme-red a.link {
  color: $red;
}
.md .card-header a.link.color-red,
.md .card-footer a.link.color-red {
  color: $red;
}
.md .chip.color-red {
  background: $red;
  color: #fff;
}
.md .color-theme-red .item-input-focused .item-label,
.md .color-theme-red .item-input-focused .item-floating-label {
  color: $red;
}
.md .color-theme-red .item-input-focused .item-input-wrap:after,
.md .color-theme-red .input-after:after {
  background: $red;
}
.md .item-input-focused.color-red .item-label,
.md .item-input-focused.color-red .item-floating-label {
  color: $red;
}
.md .item-input-focused.color-red .item-input-wrap:after,
.md .input-after.color-red:after {
  background: $red;
}
.md .color-theme-red label.item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox,
.md .color-theme-red label.item-checkbox input[type="checkbox"]:checked ~ * .icon-checkbox,
.md .color-theme-red .checkbox input[type="checkbox"]:checked ~ i {
  background-color: $red;
  border-color: $red;
}
.md .color-theme-red .checkbox .ripple-wave {
  background: rgba($red, 0.5);
}
.md label.item-checkbox.color-red input[type="checkbox"]:checked ~ .icon-checkbox,
.md label.item-checkbox.color-red input[type="checkbox"]:checked ~ * .icon-checkbox,
.md .checkbox.color-red input[type="checkbox"]:checked ~ i {
  background-color: $red;
  border-color: $red;
}
.md .checkbox.color-red .ripple-wave {
  background: rgba($red, 0.5);
}
.md .color-theme-red .icon-radio:after {
  background-color: $red;
}
.md .color-theme-red label.item-radio input[type="radio"]:checked ~ .icon-radio,
.md .color-theme-red label.item-radio input[type="radio"]:checked ~ * .icon-radio,
.md .color-theme-red .radio input[type="radio"]:checked ~ .icon-radio {
  border-color: $red;
}
.md .color-theme-red label.item-radio input[type="radio"]:checked ~ .icon-radio:after,
.md .color-theme-red label.item-radio input[type="radio"]:checked ~ * .icon-radio:after,
.md .color-theme-red .radio input[type="radio"]:checked ~ .icon-radio:after {
  background-color: $red;
}
.md .color-theme-red .radio .ripple-wave {
  background: rgba($red, 0.5);
}
.md .radio.color-red .icon-radio:after {
  background-color: $red;
}
.md label.item-radio.color-red input[type="radio"]:checked ~ .icon-radio,
.md label.item-radio.color-red input[type="radio"]:checked ~ * .icon-radio,
.md .radio.color-red input[type="radio"]:checked ~ .icon-radio {
  border-color: $red;
}
.md label.item-radio.color-red input[type="radio"]:checked ~ .icon-radio:after,
.md label.item-radio.color-red input[type="radio"]:checked ~ * .icon-radio:after,
.md .radio.color-red input[type="radio"]:checked ~ .icon-radio:after {
  background-color: $red;
}
.md .radio.color-red .ripple-wave {
  background: rgba($red, 0.5);
}
.md .color-theme-red .toggle input[type="checkbox"]:checked + .toggle-icon {
//  background: rgba($red, 0.5);
  background: rgba($black, 1); //改為黑色
}
.md .color-theme-red .toggle input[type="checkbox"]:checked + .toggle-icon:after {
  background: $red;
}
.md .toggle.color-red input[type="checkbox"]:checked + .toggle-icon {
  background: rgba($red, 0.5);
}
.md .toggle.color-red input[type="checkbox"]:checked + .toggle-icon:after {
  background: $red;
}
.md .color-theme-red .range-slider .range-bar-active,
.md .color-theme-red .range-slider .range-knob,
.md .color-theme-red .range-slider .range-knob-label,
.md .color-theme-red .range-slider .range-knob-label:before {
  background-color: $red;
}
.md .range-slider.color-red .range-bar-active,
.md .range-slider.color-red .range-knob,
.md .range-slider.color-red .range-knob-label,
.md .range-slider.color-red .range-knob-label:before {
  background-color: $red;
}
.md .color-theme-red .stepper-button,
.md .color-theme-red .stepper-button-minus,
.md .color-theme-red .stepper-button-plus {
  border-color: $red;
  color: $red;
}
.md .color-theme-red .stepper-button-plus:after,
.md .color-theme-red .stepper-button-minus:after,
.md .color-theme-red .stepper-button-plus:before,
.md .color-theme-red .stepper-button-minus:before {
  background: $red;
}
.md .color-theme-red .stepper-value,
.md .color-theme-red .stepper-input-wrap {
  border-top-color: $red;
  border-bottom-color: $red;
}
.md .color-theme-red .stepper-value {
  color: $red;
}
.md .color-theme-red .stepper .stepper-input-wrap input {
  color: $red;
}d .color-theme-red .stepper .stepper-input-wrap input {
  color: $red;
}
.md .color-theme-red .stepper-fill .stepper-button,
.md .color-theme-red .stepper-fill-md .stepper-button,
.md .color-theme-red .stepper-fill .stepper-button-minus,
.md .color-theme-red .stepper-fill-md .stepper-button-minus,
.md .color-theme-red .stepper-fill .stepper-button-plus,
.md .color-theme-red .stepper-fill-md .stepper-button-plus {
  background-color: $red;
  color: #fff;
}
.md .color-theme-red .stepper-fill .stepper-button.active-state,
.md .color-theme-red .stepper-fill-md .stepper-button.active-state,
.md .color-theme-red .stepper-fill .stepper-button-minus.active-state,
.md .color-theme-red .stepper-fill-md .stepper-button-minus.active-state,
.md .color-theme-red .stepper-fill .stepper-button-plus.active-state,
.md .color-theme-red .stepper-fill-md .stepper-button-plus.active-state {
  background: $red_darken_1;
}
.md .color-theme-red .stepper-fill .stepper-button:after,
.md .color-theme-red .stepper-fill-md .stepper-button:after,
.md .color-theme-red .stepper-fill .stepper-button-minus:after,
.md .color-theme-red .stepper-fill-md .stepper-button-minus:after,
.md .color-theme-red .stepper-fill .stepper-button-plus:after,
.md .color-theme-red .stepper-fill-md .stepper-button-plus:after,
.md .color-theme-red .stepper-fill .stepper-button:before,
.md .color-theme-red .stepper-fill-md .stepper-button:before,
.md .color-theme-red .stepper-fill .stepper-button-minus:before,
.md .color-theme-red .stepper-fill-md .stepper-button-minus:before,
.md .color-theme-red .stepper-fill .stepper-button-plus:before,
.md .color-theme-red .stepper-fill-md .stepper-button-plus:before {
  background: #fff;
}
.md .stepper.color-red .stepper-button,
.md .stepper.color-red .stepper-button-minus,
.md .stepper.color-red .stepper-button-plus {
  border-color: $red;
  color: $red;
}
.md .stepper.color-red .stepper-button-plus:after,
.md .stepper.color-red .stepper-button-minus:after,
.md .stepper.color-red .stepper-button-plus:before,
.md .stepper.color-red .stepper-button-minus:before {
  background: $red;
}
.md .stepper.color-red .stepper-value,
.md .stepper.color-red .stepper-input-wrap {
  border-top-color: $red;
  border-bottom-color: $red;
}
.md .stepper.color-red .stepper-value {
  color: $red;
}
.md .stepper.color-red .stepper-input-wrap input {
  color: $red;
}
.md .stepper.color-red.stepper-fill .stepper-button,
.md .stepper.color-red.stepper-fill-md .stepper-button,
.md .stepper.color-red.stepper-fill .stepper-button-minus,
.md .stepper.color-red.stepper-fill-md .stepper-button-minus,
.md .stepper.color-red.stepper-fill .stepper-button-plus,
.md .stepper.color-red.stepper-fill-md .stepper-button-plus {
  background-color: $red;
  color: #fff;
}
.md .stepper.color-red.stepper-fill .stepper-button.active-state,
.md .stepper.color-red.stepper-fill-md .stepper-button.active-state,
.md .stepper.color-red.stepper-fill .stepper-button-minus.active-state,
.md .stepper.color-red.stepper-fill-md .stepper-button-minus.active-state,
.md .stepper.color-red.stepper-fill .stepper-button-plus.active-state,
.md .stepper.color-red.stepper-fill-md .stepper-button-plus.active-state {
  background: $red_darken_1;
}
.md .stepper.color-red.stepper-fill .stepper-button:after,
.md .stepper.color-red.stepper-fill-md .stepper-button:after,
.md .stepper.color-red.stepper-fill .stepper-button-minus:after,
.md .stepper.color-red.stepper-fill-md .stepper-button-minus:after,
.md .stepper.color-red.stepper-fill .stepper-button-plus:after,
.md .stepper.color-red.stepper-fill-md .stepper-button-plus:after,
.md .stepper.color-red.stepper-fill .stepper-button:before,
.md .stepper.color-red.stepper-fill-md .stepper-button:before,
.md .stepper.color-red.stepper-fill .stepper-button-minus:before,
.md .stepper.color-red.stepper-fill-md .stepper-button-minus:before,
.md .stepper.color-red.stepper-fill .stepper-button-plus:before,
.md .stepper.color-red.stepper-fill-md .stepper-button-plus:before {
  background: #fff;
}
.md .color-theme-red .calendar-header,
.md .color-red .calendar-header {
  background: $red;
}
.md .color-theme-red .calendar-day.calendar-day-today span,
.md .color-red .calendar-day.calendar-day-today span {
  color: $red;
}
.md .color-theme-red .calendar-day.calendar-day-has-events span:after,
.md .color-red .calendar-day.calendar-day-has-events span:after {
  background: $red;
}
.md .color-theme-red .calendar-day.calendar-day-selected span,
.md .color-red .calendar-day.calendar-day-selected span {
  background: $red;
  color: #fff;
}
.md .color-theme-red .calendar-day.calendar-day-selected span:after,
.md .color-red .calendar-day.calendar-day-selected span:after {
  background-color: #fff;
}
.md .color-theme-red .data-table-header-selected,
.md .data-table-header-selected.color-red {
  background: rgba($red, 0.1);
}
.md .color-theme-red .data-table-title-selected,
.md .color-red .data-table-title-selected {
  color: $red;
}
.md .color-theme-red .fab > a,
.md .color-theme-red .fab-buttons a,
.md .color-theme-red.fab > a,
.md .color-theme-red.fab-buttons a {
  background: $red;
}
.md .color-theme-red .fab > a.active-state,
.md .color-theme-red .fab-buttons a.active-state,
.md .color-theme-red.fab > a.active-state,
.md .color-theme-red.fab-buttons a.active-state {
  background: $red_darken_1;
}
.md .color-theme-red .fab-morph,
.md .color-theme-red.fab-morph {
  background: $red;
}
.md .fab.color-red > a,
.md .fab.color-red .fab-buttons > a,
.md .fab-buttons.color-red a,
.md .fab > a.color-red,
.md .fab .fab-buttons > a.color-red {
  background: $red;
}
.md .fab.color-red > a.active-state,
.md .fab.color-red .fab-buttons > a.active-state,
.md .fab-buttons.color-red a.active-state,
.md .fab > a.color-red.active-state,
.md .fab .fab-buttons > a.color-red.active-state {
  background: $red_darken_1;
}
.md .fab-morph.color-red {
  background: $red;
}
.md .swiper-button-prev.color-red,
.md .swiper-container-rtl .swiper-button-next.color-red,
.md .color-theme-red .swiper-button-prev,
.md .color-theme-red .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23f44336'%2F%3E%3C%2Fsvg%3E");
}
.md .swiper-button-next.color-red,
.md .swiper-container-rtl .swiper-button-prev.color-red,
.md .color-theme-red .swiper-button-next,
.md .color-theme-red .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23f44336'%2F%3E%3C%2Fsvg%3E");
}
.md .color-red .swiper-pagination-bullet-active,
.md .color-theme-red .swiper-pagination-bullet-active {
  background: $black; //改為黑色
}
.md .color-red .swiper-pagination-progressbar,
.md .color-theme-red .swiper-pagination-progressbar,
.md .color-red.swiper-pagination-progressbar,
.md .color-theme-red.swiper-pagination-progressbar {
  background: rgba($red, 0.25);
}
.md .color-red .swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
.md .color-theme-red .swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
.md .color-red.swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
.md .color-theme-red.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: $red;
}
.md .color-theme-red .photo-browser-page:not(.photo-browser-page-dark) .navbar,
.md .color-red .photo-browser-page:not(.photo-browser-page-dark) .navbar,
.md .color-theme-red .photo-browser-page:not(.photo-browser-page-dark) .toolbar,
.md .color-red .photo-browser-page:not(.photo-browser-page-dark) .toolbar {
  background-color: rgba($red, 0.95);
}
.md .text-color-red {
  color: $red !important;
}
.md .bg-color-red {
  background-color: $red !important;
}
.md .border-color-red {
  border-color: $red !important;
}