// Google Material Design Shadows - - - - - - - - - - - - -


// 直接使用Framework7的 elevation 元件就好了，不用使用此檔-O-
// - - - - - - - - - - - - -
// Nav drawer:   16dp
// App bar:      4dp
// Card:         1dp to 8dp
// FAB:          6dp
// Button:       2dp to 8dp
// Dialog:       24dp
// - - - - - - - - - - - - -



// 我查 Google Keep 網頁版的，比 $z2_shadow 柔軟些
$navbar_shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
// 我查 Google日曆網頁版的 = .elevation-6 from Framework7
//$fab_shadow: 0px 3px 5px -1px rgba(0, 0, 0, .2), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12);

// 以下源自 https://codepen.io/goodtouch/pen/atvDw?editors=1100

// Standard Shadows
$z1_shadow: 0  1px  3px rgba(#000, 0.12), 0  1px  2px rgba(#000, 0.24);
$z2_shadow: 0  3px  6px rgba(#000, 0.16), 0  3px  6px rgba(#000, 0.23);
$z3_shadow: 0 10px 20px rgba(#000, 0.19), 0  6px  6px rgba(#000, 0.23);
$z4_shadow: 0 14px 28px rgba(#000, 0.25), 0 10px 10px rgba(#000, 0.22);
$z5_shadow: 0 19px 38px rgba(#000, 0.30), 0 15px 12px rgba(#000, 0.22);

// Top shadows (for "bottom" positionned elements)
$top_z1_shadow: 0  -1px  3px rgba(#000, 0.12), 0  -1px  2px rgba(#000, 0.24);
$top_z2_shadow: 0  -3px  6px rgba(#000, 0.16), 0  -3px  6px rgba(#000, 0.23);
$top_z3_shadow: 0 -10px 20px rgba(#000, 0.19), 0  -6px  6px rgba(#000, 0.23);
$top_z4_shadow: 0 -14px 28px rgba(#000, 0.25), 0 -10px 10px rgba(#000, 0.22);
$top_z5_shadow: 0 -19px 38px rgba(#000, 0.30), 0 -15px 12px rgba(#000, 0.22);

// Shadows for full size "side" elements (using spread to make corners look right)
$side_z1_shadow: 0 0  3px 0.75px rgba(#000, 0.12), 0 0  2px 0.5px rgba(#000, 0.24);
$side_z2_shadow: 0 0  6px  1.5px rgba(#000, 0.16), 0 0  6px 1.5px rgba(#000, 0.23);
$side_z3_shadow: 0 0 20px    5px rgba(#000, 0.19), 0 0  6px 1.5px rgba(#000, 0.23);
$side_z4_shadow: 0 0 28px    7px rgba(#000, 0.25), 0 0 10px 2.5px rgba(#000, 0.22);
$side_z5_shadow: 0 0 38px  9.5px rgba(#000, 0.30), 0 0 12px   3px rgba(#000, 0.22);

// Raised button shadow (this in an approximation from  https://material-design.storage.googleapis.com/images/components-buttons-states-for-mocks-2a_large_mdpi.png)
$raised_button_normal_shadow:  1px 2px 3px rgba(#000, 0.17), 0 1px 4px rgba(#000, 0.16);
$raised_button_hover_shadow:   0   1px 3px rgba(#000, 0.13), 0 1px 4px rgba(#000, 0.16);
$raised_button_focused_shadow: 0   5px 6px rgba(#000, 0.15), 0 2px 5px rgba(#000, 0.16);
$raised_button_pressed_shadow: 0   6px 5px rgba(#000, 0.09), 0 7px 6px rgba(#000, 0.16);


//.card, .modal, .fab,
//.left-nav, .right-nav,
//.app-bar, .bottom-toolbar {
//  &.z1 { @include box-shadow($z1_shadow); }
//  &.z2 { @include box-shadow($z2_shadow); }
//  &.z3 { @include box-shadow($z3_shadow); }
//  &.z4 { @include box-shadow($z4_shadow); }
//  &.z5 { @include box-shadow($z5_shadow); }
//}
//
//.left-nav, .right-nav {
//  &.z1 { @include box-shadow($side_z1_shadow); }
//  &.z2 { @include box-shadow($side_z2_shadow); }
//  &.z3 { @include box-shadow($side_z3_shadow); }
//  &.z4 { @include box-shadow($side_z4_shadow); }
//  &.z5 { @include box-shadow($side_z5_shadow); }
//}
//
//.bottom-toolbar .bottom-sheet {
//  &.z1 { @include box-shadow($top_z1_shadow); }
//  &.z2 { @include box-shadow($top_z2_shadow); }
//  &.z3 { @include box-shadow($top_z3_shadow); }
//  &.z4 { @include box-shadow($top_z4_shadow); }
//  &.z5 { @include box-shadow($top_z5_shadow); }
//}