// Google Material Design Type Scale - - - - - - - - - - - - -
//Roboto:      100 300 400 500 700 900
//Roboto Mono: 300 400 500 700
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Roboto+Mono:300,400,500');

.mono {
    font-family: $font_family_mono;
    letter-spacing: -.02rem;
}

//@font-face {
//    font-family: 'Material Icons';
//    font-style: normal;
//    font-weight: 400; //src: url(../fonts/MaterialIcons-Regular.eot); //For IE6-8
//    src: local('Material Icons'),
//    local('MaterialIcons-Regular'),
//    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
//    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
//    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
//}
//
//.material-icons {
//    font-family: 'Material Icons';
//    font-weight: normal;
//    font-style: normal;
//    font-size: 24px; //Preferred icon size
//    display: inline-block;
//    line-height: 1;
//    text-transform: none;
//    letter-spacing: normal;
//    word-wrap: normal;
//    white-space: nowrap;
//    direction: ltr; //Support for all WebKit browsers.
//    -webkit-font-smoothing: antialiased; //Support for Safari and Chrome.
//    text-rendering: optimizeLegibility; //Support for Firefox.
//    -moz-osx-font-smoothing: grayscale; //Support for IE.
//    font-feature-settings: 'liga';
//}

html,
.md body {
    //body-1主內文
    font-family: $font_family_normal;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .0178rem;
    line-height: 1.5rem;
    text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.subtitle-1,
.subtitle-2,
.body-1,
.body-2,
.button,
.caption,
.overline {
    //中英併用時須加.eng
    .eng {
        font-size: 1.125em;
        vertical-align: -0.025em;
    }
}

h1 {
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: -.0156rem;
    line-height: 7rem;
    text-transform: none;
    .eng {
        font-size: 1.1825em;
        vertical-align: -0.045em;
    }
}

h2 {
    font-size: 3.75rem;
    font-weight: 300;
    letter-spacing: -.0083rem;
    line-height: 4.5rem;
}

h3 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 3.5rem;
}

h4 {
    font-size: 2.125rem;
    font-weight: 400;
    letter-spacing: .0073rem;
    line-height: 2.5rem;
}

h5 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
}

h6 {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .0075rem;
    line-height: 1.5rem;
}

.subtitle-1 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .0093rem;
    line-height: 1.5rem;
}

.subtitle-2 {
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .0071rem;
    line-height: 1.25rem;
}

.body-1 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .0178rem;
    line-height: 1.5rem;
}

.body-2 {
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .0178rem;
    line-height: 1.25rem;
}

.button-text {
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .0535rem;
    line-height: .875rem;
    text-transform: uppercase;
}

.caption {
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: .0333rem;
    line-height: 1rem;
}

.overline {
    font-size: .625rem;
    font-weight: 400;
    letter-spacing: .15rem;
    line-height: .875rem;
    text-transform: uppercase;
}
