.md .input-error-message,
.md .item-input-error-message {
    color: $color_error;
    display: none;
}

.md .input-invalid:after,
.md .item-input-invalid .item-input-wrap:after {
    background: $color_error;
}

.md .item-input-invalid .item-floating-label,
.md .item-input-invalid .item-label,
.md .item-invalid .item-floating-label,
.md .item-invalid .item-label {
    color: $color_error;
}

.md .list .item-after,
.md .smart-select .item-after,
.md .list input[type=date],
.md .list input[type=datetime-local],
.md .list input[type=email],
.md .list input[type=number],
.md .list input[type=password],
.md .list input[type=search],
.md .list input[type=tel],
.md .list input[type=text],
.md .list input[type=time],
.md .list input[type=url],
.md .list select {
    color: $icon_on_background_medium_emphasis;
    @extend .body-1;
}

.md .smart-select .item-title,
.md .item-floating-label,
.md .item-label {
    @extend .subtitle-1;
}

//.md .input-clear-button {
//    &.icon-close {
//        line-height: 48px;
//        text-align: center;
//        font-size: 16px;
//    }
//    &:after {
//        background-image: none;
//    }
//}
.item-input-wrap {
    &.disabled {
        // framework7 預設 .disabled 的 opacity 為 0.55 !important;
        opacity: .75 !important;
    }
}

.md {
    .page[data-name^=add_new_case] {
        // 新件：基本資料頁 input(不含圖檔上傳)高度統一
        .smart-select .item-content,
        li.item-content.item-input,
        li.item-content.item-toggle {
            height: $input_height;
        }
//        .item-input.highlight-grey-bg {
            // 反灰!!!!???
//            background: rgba($grey_2_darken, .6);
//        }
    }
}

.login-screen-content {
    li.item-content.item-input {
        height: 72px;
        &:first-child {
            height: 80px;
        }
    }
}

.list {
    & + .list.inline-labels.my-inline-labels {
        margin-top: $margin_m;
    }
    &.inline-labels.my-inline-labels {
        .item-input {
            .item-inner {
                display: flex;
                flex-wrap: nowrap;
                padding-left: 16px;
                .item-title.item-label {
                    min-width: 120px;
                }
                .item-input-wrap {
                    input,
                    textarea {
                        text-align: right;
                        padding-right: 0;
                    }
                    &:nth-child(n + 3) {
                        margin-left: 8px;
                    }
                }
            }
            &.input-with-value,
            &.item-input-with-value,
            &.input-with-value {
                .item-input-wrap input {
                    padding-right: 40px;
                }
            }
        }
    }

}
