.success {
    *[class^=icon-] {
        color: $color_success;
    }
}

.waiting {
    *[class^=icon-] {
        color: $color_info;
    }
}

.fail {
    *[class^=icon-] {
        color: $color_error;
    }
}

.item-inner-arrow {
    // 箭頭符號 偽元素 .icon-arrow_forward_ios
    &::before {
        position: absolute;
        display: inline-block; //        content: "\e93f";
        content: "\e947";
        font-family: "icomoon";
        speak: none;
        font-size: 16px;
        right: 12px;
        color: $red;
    }
}

.md {
    .page[data-name^=add_new_case] {
        .page-content {
            .list {
                &:first-child {
                    margin-top: $margin_l;
                }
            }
        }
    }
    .list {
        margin: 0;
        li.item-content {
            display: block;
            padding-left: 0;
            .item-inner {
                display: block;
            }
        }
        .item-inner {
            min-height: 56px;
        }
    }
    .links-list a,
    .list .item-link .item-inner {
        // 箭頭符號 隱藏
        background-image: none;
        padding-right: 8px;
    }
    .item-divider,
    .list-group-title {
        // 目前用在 smart-select 的 Open In Popup + Searchbar + Multiple
        background: $grey_2_darken;
    }
}

// 「案件清單」: 每個案件
.item-content.each-case {
    .item-inner {
        height: $each_case_li_height;
        .row {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
        }
    }
    h5 {
        line-height: 2.25rem;
        display: inline-block;
    }
    .icon-more_vert {
        vertical-align: -0.085rem;
    }
    .client-name {
        width: $each_case_client_name_width;
    }
    .visible-mobile {
        width: calc(100% - #{$each_case_client_name_width});
        text-align: right;
    }
    .client-id {
        flex: 1 10 88px;
    }
    .date {
        flex: 5 10 64px;
    }
    .case-state {
        flex: 6 0 104px;
        text-align: right;
    }
}

// 「案件明細」list
.case-details-list.list {
    //    border-bottom: $case_details_hairline_width dashed $case_details_hairline_color;
    //    li:not(:last-child) {
    .item-content {
        border-bottom: $case_details_hairline_width dashed $case_details_hairline_color;
    } //    }
    .item-content {
        @extend .surface;
        min-height: 72px;
        .item-inner {
            .row {
                margin: 9px 0;
            }
        }
        .item-title {
            .caption {
                color: $red;
            }
        }
    }
}

// 「新件」: 上傳圖片li
.img-upload-li {
    //    position: relative;
    .item-content {
        @extend .surface;
        height: $img_upload_li_height;
        .item-media {
            *[class^=icon-] {
                font-size: 48px;
                color: $icon_on_background_medium_emphasis;
            }
        }
    }
    .swipeout-actions-left {
        a {
            background: $red;
            @extend .surface-secondary;
        }
    }
    &.success {
        .item-media {
            *[class^=icon-] {
                color: $color_success;
            }
        }
        .item-after {
            margin-right: 8px;
        }
    } //    &.test {
    //        // .icon-more_vert 偽元素
    //        &::before {
    //            position: absolute;
    //            display: block;
    //            content: "\eb5f";
    //            font-family: "icomoon";
    //            speak: none;
    //            font-size: 20px;
    //            right: 16px;
    //            top: 26px;
    //            color: $icon_on_background_medium_emphasis;
    //        }
    //    }
}

// 「設定」
.page {
    &[data-name^=setting] {
        .list {
            .item-content {
                height: $setting_page_li_height;
            }
            .item-link {
                .item-inner {
                    @extend .item-inner-arrow;
                }
            }
        }
    }
}

@media (max-width: $screen-xxs) {
    .md .list .item-media + .item-inner {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .item-content.each-case {
        .client-name {
            width: $each_case_client_name_width_tablet;
        }
        .item-inner {
            height: $each_case_li_height_desktop;
            .row {
                flex-wrap: nowrap;
                .hidden-mobile {
                    margin-left: 16px;
                }
            }
        }
    }
    .page[data-name^=setting] .list li,
    .page[data-name^=add_new_case] .list li,
    .img-upload-li {
        &:nth-child(even) {
            .item-content,
            &.item-content {
                border-left: $hairline_width solid $hairline_color;
            }
        }
        &:nth-last-child(2):not(:nth-child(even)) {
            .item-inner:after {
                display: none;
            }
        }
    }
}
