.md {
    .navbar,
    .toolbar {
        border-radius: 0;
    }
    .navbar {
        // height: $navbar_height; // prototype用
        .navbar-inner {
            width: 100%;
            padding: 0 4px;
            .title {
                margin-left: 8px;
            }
        }
    } 
    // prototype用
    //    .navbar + .toolbar:not(.toolbar-bottom-md):not(.messagebar) {
    //        top: $navbar_height;
    //    }
    .toolbar {
        .toolbar-inner {
            .link {
                color: #fff;
            }
        }
    }
}

@media (min-width: 768px) {
    .md {
        .navbar {
            .navbar-inner {
                .title {
                    margin-left: 16px;
                }
            }
        }
    }
}
