// prototype用
//@media (min-width: 576px) {
//    body {
//        margin: auto;
//        width: 375px;
//        height: 667px;
//        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
//    }
//}
*:focus,
*:active {
    outline: none !important;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

img {
    vertical-align: top;
}

body {
    background: $grey_2;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-content {
    //overflow-x: hidden !important; //修正Velocity動畫造成的overflow
    background: $color_background;
    &.last-news-content {
        @extend .flex-column;
        header {
            position: relative;
            height: $last_news_content_header_height;
            background-image: url(../image/last_news_bell.svg);
            background-position: center;
            background-size: cover;
            h6 {
                position: absolute;
                left: 16px;
                bottom: 16px;
            }
        }
        footer.block {
            margin-top: 16px;
        }
    }
    &.login-screen-content {
        @extend .flex-column;
        height: 100%;
        padding: 16px 32px;
        > * {
            width: 100%;
            max-width: $tablet_container_width;
            align-self: center;
        }
        .img-AOS-logo {
            height: 80px;
            width: auto;
            margin-bottom: 104px;
        }
        .list {
            margin: 32px 0 0px;
            .item-inner {
                padding-right: 0;
            }
        }
        .checkbox-li {
            .item-after {
                justify-content: flex-end;
                .icon-checkbox {
                    margin: 0 8px;
                }
            }
        }
        .button:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

.placeholder-area {
    @extend .flex-column;
    height: 100%;
    text-align: center;
    img {
        width: auto;
        height: 269px;
    }
    p {
        margin-top: 1em;
        line-height: 1.5rem;
    }
    > *:last-child {
        // placeholder-area 位置調稍高
        margin-bottom: 80px;
    }
}

.visible-mobile {
    display: block !important;
}

.hidden-mobile {
    display: none !important;
}

.hidden-1024px {
    display: block !important;
}

@media (max-width: $screen-xxs) {
    .hidden-xxs {
        display: none !important;
    }
    .page-content {
        &.login-screen-content {
            padding-left: 16px;
            padding-right: 16px;
            .img-AOS-logo {
                height: $passcode_header_img_height;
                margin-bottom: 64px;
            }
        }
    }
}

@media (min-width: 768px) {
    .visible-mobile {
        display: none !important;
    }
    .hidden-mobile {
        display: block !important;
    }
    .page-content {
        &.last-news-content {
            header {
                height: $last_news_content_header_height_tablet;
            }
        }
    }
}

@media (min-width: 1024px) {
    .hidden-1024px {
        display: none !important;
    }
}

@media (min-width: 1025px) {
    .page-content {
        &.last-news-content {
            header {
                height: $last_news_content_header_height_desktop;
            }
        }
    }
}

// bootstrap
//xxs
//@media (max-width: $screen-xxs) {}
//xs
//@media (max-width: 575.98px) {}
//sm
//@media (min-width: 576px) {}
//md
//@media (min-width: 768px) {}
//lg
//@media (min-width: 992px) {}
//xl
//@media (min-width: 1200px) {}
