.panel {
    width: $panel_width;
    background: $color_background;
    .panel-header {
        @extend .surface-primary;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 24px 16px; //        background: $grey_2;
        position: relative;
        border-right: 1px solid $grey_5;
        &::after {
            @include hairline_h;
        }
        .avatar {
            display: inline-block;
            margin-right: 16px;
            width: 64px;
            height: 64px;
            border-radius: 100%;
            background-image: url(../image/portrait_2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .caption {
            margin-top: 4px;
        }
    }
    .list {
        li {
            &:nth-child(1) {
                padding-top: $list_padding_v;
            }
            &:nth-child(4) {
                padding-bottom: $list_padding_v;
                &::after {
                    @include hairline_h;
                }
            }
            &:nth-child(5) {
                padding-top: $list_padding_v;
            }
            .active * {
                color: $red;
            }
            .item-link.item-content {
                .item-inner {
                    padding-right: 16px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .panel.panel-left {
        box-shadow: 1px 0 0 0 $hairline_color;
        .panel-header {
            border-right: 1px solid $grey_5;
        }
    }
}
