// 密碼鎖 Passcode Screen
.passcode-screen-content.page-content {
    @extend .surface-secondary;
    * {
        text-align: center;
    }
    main {
        @extend .flex-column;
        align-items: center;
        height: 100%;
    }
    header {
        margin: 24px 0 96px;
        .img-AOS-logo {
            height: $passcode_header_img_height;
            width: auto;
            margin-bottom: 16px;
        }
        .icon-fingerprint {
            line-height: $passcode_header_img_height;
            font-size: 56px;
            margin-left: 8px;
        }
    }
    .dots-row {
        display: flex;
        align-items: center;
        height: $passcode_dot_width;
        list-style: none;
        margin-bottom: 8px;
        ul {
            display: flex;
            align-items: center;
            height: $passcode_dot_width;
            list-style: none;
            margin-bottom: 24px;
            li {
                width: $passcode_dot_width;
                height: $passcode_dot_width;
                border-radius: 100%;
                background: $black;
                margin: 0 16px;
                &.active {
                    background: $white;
                    animation: dot_scale .2s .1s cubic-bezier(0.0, 0.0, 0.2, 1) forwards; // 減速
                }
            }
        }
        .shake {
            animation: shake .75s cubic-bezier(.36, .07, .19, .97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 300px;
        }
    }
    .passcode-keys-container {
        width: $passcode_keys_containe_width;
        .button {
            color: $white;
            width: $passcode_button_width;
            height: $passcode_button_width;
            border-radius: 100%;
            margin-bottom: 8px;
            &:not(:nth-child(10)):not(:nth-child(12)) {
                @extend h4;
                font-weight: 300;
                color: $white;
            }
            &.icon-backspace {
                font-size: 24px;
            }
        }
    }
}

@keyframes dot_scale {
    0% {
        transform: scale(1);
        border: none;
    }
    60%,
    72.5% {
        transform: scale(5);
        border: none;
    }
    95% {
        border: none;
    }
    100% {
        transform: scale(1.5);
        border: 1px solid $black;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(5px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-10px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(10px, 0, 0);
    }
}

@media (max-width: $screen-xxs) {
    .passcode-screen-content.page-content {
        header {
            margin-bottom: 72px;
        }
        .passcode-keys-container {
            width: $passcode_keys_containe_width_screen_xxs;
            .button {
                color: $white;
                width: $passcode_button_width_screen_xxs;
                height: $passcode_button_width_screen_xxs;
            }
        }
    }
}
