.popover {
    width: auto;
    min-width: 160px;
    .list {
        margin: 0;
        .item-inner {
            min-height: 40px;
            padding-left: 16px;
            &:after {
                display: none;
            }
            .item-title {
                color: $grey_4;
            }
        }
    }
}

.order-popover-links {
    .list-button {
        &.active {
            color: $red;
        }
    }
}
