.popup {
    &.popup-camera {
        // 相機 Popup 畫面
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .camera-view {
            @extend .flex-column;
            align-items: center;
            height: 133.33333vw;
            background-image: url(../image/photo.jpg);
            background-size: cover;
            background-position: center;
            .camera-crop-area {
                width: $camera_crop_area_width;
                height: $camera_crop_area_height; // 身分證紙卡尺寸比例
                border: 2px solid $red;
                border-radius: 12px;
                margin: 0 auto 16px;
            }
            .camera-hint {
                background-color: $red;
                color: $white; // 以下為複製Framework7 的按鈕樣式
                border-radius: 36px;
                line-height: 36px;
                height: 36px;
                text-transform: uppercase;
                min-width: 64px;
                padding: 0 $button_padding_h; // padding原為 0 8px;
                border: none;
                font-weight: 500;
                letter-spacing: .03em;
                text-align: center;
                font-size: 14px;
                vertical-align: middle;
            }
        }
        .camera-toobar {
            @extend .flex-column;
            flex: 1;
            background: $color_camera_view_background;
            padding: 16px 0;
            .btn-group {
                display: flex;
                justify-content: space-around;
                align-items: center;
                .camera-shot-button {
                    width: 64px;
                    height: 64px;
                    background: $grey_3;
                    border: 4px solid $color_popup_camera_font;
                    box-shadow: 0 0 0 2px $color_camera_view_background inset;
                }
                .button {
                    color: $color_popup_camera_font;
                }
            }
        }
    }
    &.popup-img-edit {
        // 圖片編輯 Popup 畫面
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background: $color_camera_view_background;
        .navbar {
            flex-shrink: 0;
        }
        .swiper-container {
            @extend .flex-column;
            align-items: center;
            flex: 1;
            .swiper-slide {
                width: 100% !important;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
//        .img-edit-view {
//            @extend .flex-column;
//            align-items: center;
//            flex: 1;
//        }
        .img-edit-crop-area {
            position: relative;
//            max-width: 90vw;
            max-width: 90%; // for swiper
            height: auto;
            border: 1px solid rgba($white, .75);
            img {
                max-width: 100%;
                height: auto;
                max-height: calc(100vh - 264px); // navbar 和 toolbar 高度共200px，三顆按鍵列48px，padding 16px 
                display: block;
            }
            .crop-corner-button {
                position: absolute;
                display: block;
                width: $crop_corner_button_size;
                height: $crop_corner_button_size;
                background: transparent;
                border: none;
                z-index: 15;
                &:nth-child(1) {
                    top: 0;
                    left: 0;
                    border-top: $crop_corner_button_border_width solid $crop_corner_button_border_color;
                    border-left: $crop_corner_button_border_width solid $crop_corner_button_border_color;
                }
                &:nth-child(2) {
                    top: 0;
                    right: 0;
                    border-top: $crop_corner_button_border_width solid $crop_corner_button_border_color;
                    border-right: $crop_corner_button_border_width solid $crop_corner_button_border_color;
                }
                &:nth-child(3) {
                    bottom: 0;
                    right: 0;
                    border-bottom: $crop_corner_button_border_width solid $crop_corner_button_border_color;
                    border-right: $crop_corner_button_border_width solid $crop_corner_button_border_color;
                }
                &:nth-child(4) {
                    bottom: 0;
                    left: 0;
                    border-bottom: $crop_corner_button_border_width solid $crop_corner_button_border_color;
                    border-left: $crop_corner_button_border_width solid $crop_corner_button_border_color;
                }
            }
        }
        .img-edit-toobar {
            padding: 16px 0;
            background: $color_camera_view_background;
            .btn-group {
                display: flex;
                justify-content: space-around;
                align-items: center;
                .button {
                    color: $color_popup_img_edit_font;
                    &:not(:first-child) {
                        width: inherit;
                        padding: 0 $button_padding_h;
                    }
                }
                .button-fill {
                    background: $grey_5;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .popup {
        &.popup-camera {
            background: transparent;
            .camera-view {
                .camera-hint {
                    margin-bottom: 136px;
                }
            }
            .camera-toobar {
                display: block;
                position: absolute;
                width: 100%;
                height: auto;
                bottom: 0;
                background: rgba($black, .2);
            }
        }
    }
}

@media (min-width: 1024px) {
    .popup {
        &.popup-camera {
            background: transparent;
            .camera-view {
                .camera-crop-area {
                    width: $camera_crop_area_width_tablet;
                    height: $camera_crop_area_height_tablet;
                }
            }
        }
    }
}

// range-slider 改成直式蠻麻煩的…
//@media (min-width: 1024px) {
//    .popup {
//        &.popup-camera {
//            .camera-view {
//                .camera-crop-area {
//                    width: $camera_crop_area_width_tablet;
//                    height: $camera_crop_area_height_tablet;
//                }
//                .camera-crop-area,
//                .camera-hint {
//                    margin-right: 96px;
//                    margin-left: 0;
//                }
//            }
//            .camera-toobar {
//                display: flex;
//                flex-direction: row;
//                flex: 0;
//                padding: 0 16px;
//                width: auto;
//                height: 100%;
//                bottom: inherit;
//                right: 0;
//                .camera-btn-group {
//                    flex-direction: column-reverse;
//                    height: 50vh;
//                    margin-top: 25vh;
//                }
//            }
//        }
//    }
//}
