//「設定」頁
.range-slider-li {
    .item-inner {
        display: flex;
        justify-content: space-between;
        .item-after {
            flex-grow: 1;
            //            display: flex;
            //            flex-direction: column;
            margin-left: 16px;
            //            .caption {
            //                text-align: right;
            //            }
        }
    }
}

// 相機 Popup 畫面
.camera-toobar {
    .range-slider-wrap {
        padding: 0 16px 20px;
        .range-knob-wrap {
            height: $camera_range_slider_knob_size;
            width: $camera_range_slider_knob_size;
            margin-top: calc(-#{$camera_range_slider_knob_size} / 2);
            margin-left: calc(-#{$camera_range_slider_knob_size} / 2);
        }
    }
}

// 圖片編輯 Popup 畫面
.img-edit-toobar {
    .range-slider-wrap {
        // 圖片旋轉角度 range slider
        // padding: 0 16px 20px;
        padding: 0 32px 20px;
        .angle-caption-row {
            .caption {
                color: $grey_4;
                margin-bottom: 0;
                position: relative;
                bottom: -6px;
            }
        }
        .range-slider {
            &::after {
                content: "0°"; // 現在旋轉角度
                position: absolute;
                color: $color_popup_img_edit_font;
                width: 64px;
                background: $color_camera_view_background;
                left: calc(50% - 32px);
                text-align: center;
            }
            .range-bar {
                background: transparent;
                background-image: url("../image/img_rotate_range_slider_dot.svg");
                background-repeat: repeat-x; // border-bottom: 2px dotted $grey_5;
                .range-bar-active {
                    background: transparent;
                }
            }
            .range-knob-wrap {
                .range-knob {
                    background: transparent;
                }
            }
        }
    }
}
