.md {
    .searchbar {
        width: 100%;
        height: 40px !important;
        overflow: hidden;
        input[type=search],
        input[type=text] {
            //.body-2
            font-size: .875rem;
            font-weight: 400;
            letter-spacing: .0178rem;
            line-height: 1.25rem;
        }
    }
}
