.sheet-modal {
    height: auto;
    .sheet-modal-inner {
        a.item-link.item-content:after {
            display: none;
        }
        .list {
            margin-bottom: 0;
        }
        .item-after {
            padding-right: 8px;
        }
    }
}

.case-sheet {
    .sheet-modal-inner {
        margin: 0 0 $list_padding_v;
        .list {
            li {
                &:first-child {
                    margin-bottom: $list_padding_v;
                    .item-content {
                        min-height: 56px;
                    }
                    .item-inner {
                        min-height: 56px;
                    }
                }
                &:not(:first-child) {
                    .item-inner {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.photo-card-sheet {
    .sheet-modal-inner {
        margin: $list_padding_v 0;
        .list {
            .item-inner {
                &:after {
                    display: none;
                }
            }
        }
    }
}

//.photo-card-sheet {
//    .sheet-modal-inner {
//        margin: 8px 0;
//        .list {
//            .item-content {
//                min-height: $sheet_modal_inner_list_height;
//            }
//            .item-inner {
//                min-height: $sheet_modal_inner_list_height;
//                &:after {
//                    display: none;
//                }
//            }
//        }
//    }
//}
