// 有的設在 _input.scss 和 _list.scss
.sheet-modal.smart-select-sheet.modal-in {
    .sheet-modal-inner {
        .page-content {
            @extend .surface;
        }
    }
}

.smart-select {
    .item-inner {
        @extend .item-inner-arrow;
    }
    .item-after {
        margin-right: 32px;
    }
}

.smart-select-sheet,
.smart-select-page.page-with-subnavbar {
    .page-content {
        // 原本在 _normalize.scss : 53 設定為 24px
        > .list:first-child {
            margin-top: 0;
        }
    }
}
