.last-news-content {
    .swiper-container {
        @extend .flex-column;
        flex: 1;
        align-items: center;
        margin: 0;
        .swiper-slide {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: 32px 16px 16px;
            > *:not(.body-2) {
                text-align: center;
            }
        }
    }
}

@media (min-width: 768px) {
    .last-news-content {
        .swiper-container {
            .swiper-slide {
                padding-left: calc(50% - #{$tablet_container_width} / 2);
                padding-right: calc(50% - #{$tablet_container_width} / 2);
            }
        }
    }
}
