// 顏色主設定 - - - - - - - - - - - - -
.surface {
    background: $color_surface;
}

.surface-primary {
    background: $color_primary;
    color: $on_primary;
    * {
        color: $on_primary;
    }
}

.surface-secondary {
    background: $color_secondary;
    color: $on_secondary;
    * {
        color: $on_secondary;
    }
}

.surface-error {
    background: $color_error;
    color: $on_error;
    * {
        color: $on_error;
    }
}

html,
.md body {
    color: $on_background;
}

h1,
h2,
h3,
h4,
h5,
h6,
.subtitle-1,
.subtitle-2,
.overline {
    color: $on_background_high_emphasis;
}

// 對齊 - - - - - - - - - - - - -
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

// 距離 - - - - - - - - - - - - -
p {
    // margin: 1em 0; // Framework7 預設
    margin: .5em 0;
}

h5 + p {
    margin-top: 1.5em;
}

.item-title {
    p {
        &:first-child {
            margin-bottom: 0;
        }
        &:last-child {
            margin-top: 0;
        }
    }
}

// icon - - - - - - - - - - - - -
span,
i {
    &[class^=icon-] {
        font-size: 24px;
        color: inherit;
    }
    &.icon-filter,
    &.icon-sort-amount-desc {
        font-size: 18px; // Grid 32px
    }
}

*,
.list {
    *[class*=icon].icon-more_vert {
        font-size: 20px;
        color: $icon_on_background_medium_emphasis;
    }
}

// framework7 向左箭頭 改為自訂: .icon-arrow_back
.md .icon-back {
    background-image: none;
    &::before {
        content: "\e940";
        font-size: 24px;
    }
}

// .case-state 案件狀態、.examining-state 徵審結果
*[class*=state] {
    *[class^=icon-] {
        font-size: 20px;
        margin-right: 2px;
    }
}
.case-state {
    *[class^=icon-] {
        vertical-align: -0.2em;
    }
}
.examining-state {
    *[class^=icon-] {
        vertical-align: -0.1em;
    }
}

// 其他 - - - - - - - - - - - - -
.md {
    .block-title {
        @extend .body-2;
        color: $color_block_title;
        margin-top: 24px;
        margin-bottom: 8px;
    }
}
