// additional RWD breakpoint - - - - - - - - - - - - - - -
$screen-xxs: 374px;

// 字型 - - - - - - - - - - - - - - - - - - - - - - - - - -
$font_family_normal: 'Roboto',
'Segoe UI',
微軟正黑體,
Microsoft JhengHei,
-Apple-system,
system-ui,
BlinkMacSystemFont,
黑體-繁,
Heiti TC,
Helvetica,
Arial,
sans-serif;

$font_family_mono: 'SF Mono', 'Roboto Mono',
monospace;

// 顏色 - - - - - - - - - - - - - - - - - - - - - - - - - -
//$TOYOTA_red: rgb(235, 10, 30); // #eb0a1e
//$TOYOTA_US_red: rgb(215, 25, 33); // #d71921
$hfc_red: rgb(230, 0, 18); //#e60012
$red: $hfc_red;
$red_darken_1: darken($red, 4%);

$white: #fff;
$black: #000;
// 淺灰色塊
$grey_1: rgb(248, 249, 251);
$grey_2: rgb(245, 246, 248);
$grey_2_darken: darken($grey_2, 4%);
// disable文字
$grey_3: rgb(199, 201, 204);
// 淺灰icon
$grey_4: rgb(167, 169, 172);
// 中灰文字
$grey_5: rgb(88, 89, 91);
// statusbar
$grey_6: rgb(33, 34, 36); //#212224

// 網頁按鈕藍框線
$blue: #4a90e2;
// 網頁文字反白底色
$blue_light: #cce2fe;
$violet: #5414ff;
$turquoise: #01d6ce;
$green: #5DD255;
$green_darken_1: darken($green, 10%);
$yellow: #FFD200;
$orange: #fc7b08;
//$magenta: #f15cc2;
$magenta: #f15ca9;


$color_success: $green_darken_1;
$color_info: $violet;
$color_warning: $orange;
$color_danger: $magenta;

// bootstrap顏色
//$brand_primary: #337ab7; //藍
//$brand_success: #5cb85c; //綠
//$brand_info: #5bc0de;    //青
//$brand_warning: #f0ad4e; //橙
//$brand_danger: #d9534f;  //紅

// 參考 Google Material Design 文字顏色系統來設定 - - - - - - - - - - - - -
// .disable Framework7 已設 opacity 為 0.55
$color_background: $grey_1;
$color_surface: $white;
$color_primary: $black;
$color_secondary: $red;
$color_error: $color_danger;

$on_background: $grey_5;
$on_background_high_emphasis: $black;
$on_background_disable: $grey_3;
//$on_surface: $grey_5;
//$on_surface_highlight: $black;
$on_primary: $white;
$on_secondary: $white;
$on_error: $white;

// 其他物件顏色
$icon_on_background_medium_emphasis: $grey_4;
$color_block_title: $on_background;
$color_camera_view_background: $grey_6;
$color_popup_camera_font: $grey_2_darken;
$color_popup_img_edit_font: $color_popup_camera_font;
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//間距
$padding_m: 16px;
$margin_m: 16px;
$margin_l: 24px;
$list_padding_v: 8px;
$segmented_btn_visual_correction_margin: 4px;
$button_padding_h: 24px;

//物件大小
$camera_range_slider_knob_size: 16px;
$camera_crop_area_width: 90vw;
// 身分證紙卡尺寸 79.7mm×48mm
$camera_crop_area_height: calc(#{$camera_crop_area_width} * 48 / 79.7);
$camera_crop_area_width_tablet: 80vw;
$camera_crop_area_height_tablet: calc(#{$camera_crop_area_width_tablet} * 48 / 79.7);
$crop_corner_button_size: 24px;
$crop_corner_button_border_width: 5px;
$crop_corner_button_border_color: $red;
$icon_button_size: 48px;
$sheet_modal_inner_list_height: 40px;
$navbar_height: 56px;
$two_btn_FAB_width: 56px;
$panel_width: 256px; // 256 + 768 = 1024
$tablet_container_width: 480px;
$each_case_li_height: 80px;
$each_case_li_height_desktop: 56px;
$each_case_client_name_width: 56px;
$each_case_client_name_width_tablet: 104px;
$last_news_dialog_tablet_width: $tablet_container_width;
$last_news_content_header_height: 184px;
$last_news_content_header_height_tablet: 240px;
$last_news_content_header_height_desktop: 360px;
$img_upload_li_height: 72px;
$img_edit_crop_corner_width: 4px;
$img_edit_crop_corner_height: 24px;
$setting_page_li_height: $img_upload_li_height;
$input_height: 56px;
$passcode_dot_width: 8px;
$passcode_button_width: 88px;
$passcode_button_width_screen_xxs: 72px;
$passcode_header_img_height: 64px;
$passcode_keys_containe_width: 296px;
$passcode_keys_containe_width_screen_xxs: 256px;

//framework7分隔線
$hairline_color: rgba(0, 0, 0, .12);
$hairline_width: .5px;
$case_details_hairline_color: $grey_3;
$case_details_hairline_width: 1px;

//Mixins
// 複製framework7的分隔線樣式
@mixin hairline_h {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .12);
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: $hairline_width;
    width: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
