<div data-name="add_new_case_1" class="page">
    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="/" class="link"><span class="icon-arrow_back"></span></a>
                <div class="title">基本資料</div>
            </div>
            <div class="right">
                <a href="/add_new_case_2/" class="link"><span class="icon-arrow_forward"></span></a>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="list inline-labels my-inline-labels no-hairlines no-hairlines-between">
            <ul class="row no-gap">
                <li class="col-100 tablet-50 item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">申請人ID／統編</div>
                        <div class="item-input-wrap">
                            <input type="text" placeholder="請輸入">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
                <li class="col-100 tablet-50 item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">姓名／公司名</div>
                        <div class="item-input-wrap">
                            <input type="text" placeholder="請輸入">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
                <!-- Smart Select Default Setup -->
                <li class="col-100 tablet-50">
                    <a class="item-link smart-select smart-select-init">
                        <select name="A">
                          <option value="1" selected>新車</option>
                          <option value="2">中古車</option>
                          <option value="3">原融</option>
                          <option value="4">原融代償</option>
                          <option value="5">機車自承</option>
                          <option value="6">機車原融</option>
                          <option value="7">商品分期</option>
                        </select>
                        <div class="item-content">
                          <div class="item-inner">
                            <div class="item-title">產品類型</div>
                          </div>
                        </div>
                  </a>
                </li>
                <!-- Smart Select Default Setup -->
                <li class="col-100 tablet-50">
                    <a class="item-link smart-select smart-select-init">
                        <select name="B">
                          <option value="1" selected>和潤</option>
                          <option value="2">和潤AR</option>
                          <option value="3">遠銀</option>
                          <option value="4">台新</option>
                          <option value="5">中古原融</option>
                          <option value="6">機車自承</option>
                          <option value="7">商品分期</option>
                        </select>
                        <div class="item-content">
                          <div class="item-inner">
                            <div class="item-title">資料袋</div>
                          </div>
                        </div>
                  </a>
                </li>
                <!-- Smart Select Default Setup -->
                <li class="col-100 tablet-50">
                    <a class="item-link smart-select smart-select-init">
                        <select name="C">
                          <option value="1" selected>台新</option>
                          <option value="2">遠銀</option>
                          <option value="3">JCIC</option>
                          <option value="4">不查詢</option>
                        </select>
                        <div class="item-content">
                          <div class="item-inner">
                            <div class="item-title">聯徵銀行</div>
                          </div>
                        </div>
                  </a>
                </li>
                <!-- 公司戶才需顯示 -->
                <li class="col-100 tablet-50">
                    <div class="item-content item-toggle">
                        <div class="item-inner">
                            <div class="item-title subtitle-1">擔保物提供人不查聯徵</div>
                            <div class="item-after">
                                <label class="toggle toggle-init">
                                    <input type="checkbox">
                                    <span class="toggle-icon"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
