<div data-name="add_new_case_5" class="page">
    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back"><span class="icon-arrow_back"></span></a>
                <div class="title">其他資料</div>
            </div>
            <div class="right">
                <a href="/" class="link button col button-round open-toast-bottom">上傳</a>
            </div>
        </div>
    </div>
    <!-- 兩顆按鈕的 Extended FAB -->
    <div class="segmented segmented-raised segmented-round fab fab-extended fab-right-bottom elevation-6">
        <a href="#" class="link button button-round"><span class="icon-image"></span></a>
        <a href="#" class="link button button-round"><span class="icon-camera_alt"></span></a>
    </div>

    <div class="page-content">
        <div class="list">
            <ul class="row no-gap">
                <li class="col-100 tablet-50 swipeout img-upload-li">
                    <div class="item-content swipeout-content elevation-2">
                        <div class="item-media">
                            <span class="icon-doc"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">
                                <p class="subtitle-1">申請資格表</p>
                                <p class="caption disabled">非必要</p>
                            </div>
                        </div>
                    </div>
                    <div class="swipeout-actions-left">
                        <a href="#"><span class="icon-check_box"></span></a>
                    </div>
                </li>
                <li class="col-100 tablet-50 swipeout img-upload-li">
                    <div class="item-content swipeout-content elevation-2">
                        <div class="item-media">
                            <span class="icon-doc"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">
                                <p class="subtitle-1">遠銀核駁書</p>
                            </div>
                        </div>
                    </div>
                    <div class="swipeout-actions-left">
                        <a href="#"><span class="icon-check_box"></span></a>
                    </div>
                </li>
                <li class="col-100 tablet-50 swipeout img-upload-li">
                    <div class="item-content swipeout-content elevation-2">
                        <div class="item-media">
                            <span class="icon-doc"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">
                                <p class="subtitle-1">其他資料</p>
                                <p class="caption disabled">非必要</p>
                            </div>
                        </div>
                    </div>
                    <div class="swipeout-actions-left">
                        <a href="#"><span class="icon-check_box"></span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>