<div data-name="add_new_case_2" class="page">
    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back"><span class="icon-arrow_back"></span></a>
                <div class="title">申請資料</div>
            </div>
            <div class="right">
                <a href="/add_new_case_3/" class="link"><span class="icon-arrow_forward"></span></a>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="list">
            <ul class="row no-gap">
                <li class="col-100 tablet-100 img-upload-li checked">
                    <div class="item-content">
                        <div class="item-media">
                            <span class="icon-doc"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">
                                <p class="subtitle-1">貸款申請書</p>
                            </div>
                            <div class="item-after">
                                <p class="segmented segmented-raised segmented-round">
                                    <button class="button button-round"><span class="icon-image"></span></button>
                                    <button class="button button-round button-active"><span class="icon-camera_alt"></span></button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swipeout-actions-left">
                        <a href="#"><span class="icon-check_box"></span></a>
                    </div>
                </li>
                <li class="col-100 tablet-100 img-upload-li success">
                    <!-- success 後加.item-link、時間和整個.item-after -->
                    <div class="item-link item-content">
                        <div class="item-media">
                            <span class="icon-doc_checked"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">
                                <p class="subtitle-1">貸款申請書</p>
                                <p class="caption">10月5日，週五，上午11:13</p>
                            </div>
                            <div class="item-after"><span class="icon-more_vert"></span></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="list inline-labels my-inline-labels no-hairlines no-hairlines-between">
            <ul class="row no-gap">
                <!-- 下拉選項依選項多寡選用 Framework7 Smart Select 元件-->
                <!-- Smart Select Open In Popover -->
<!--
                <li class="col-100 tablet-50">
                    <a class="item-link smart-select smart-select-init" data-open-in="popover">
                        <select name="superhero" multiple>
                          <option value="Option 1" selected>U3 + P2</option>
                          <option value="Option 2">Option 2</option>
                          <option value="Option 3">Option 3</option>
                          <option value="Option 4">Option 4</option>
                          <option value="Option 5">Option 5</option>
                          <option value="Option 6">Option 6</option>
                          <option value="Option 7">Option 7</option>
                        </select>
                        <div class="item-content">
                          <div class="item-inner">
                            <div class="item-title">專案名稱</div>
                          </div>
                        </div>
                    </a>
                </li>
-->
                <!-- Smart Select Default Setup -->
                <li class="col-100 tablet-50">
                    <a class="item-link smart-select smart-select-init">
                        <select name="D">
                          <option value="1" selected>U3 + P2</option>
                          <option value="2">Option 2</option>
                          <option value="3">Option 3</option>
                          <option value="4">Option 4</option>
                        </select>
                        <div class="item-content">
                          <div class="item-inner">
                            <div class="item-title">專案名稱</div>
                          </div>
                        </div>
                    </a>
                </li>
                <!-- 綁定登入帳號判讀 -->
                <li class="col-100 tablet-50 item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">經銷商</div>
                        <div class="item-input-wrap disabled">
                            <input type="text" placeholder="A416">
                        </div>
                        <div class="item-input-wrap disabled">
                            <input type="text" placeholder="勝利車行">
                        </div>
                    </div>
                </li>
                <!-- 綁定登入帳號判讀 -->
                <li class="col-100 tablet-50 item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">營業所</div>
                        <div class="item-input-wrap disabled">
                            <input type="text" placeholder="00010">
                        </div>
                        <div class="item-input-wrap disabled">
                            <input type="text" placeholder="王有聰">
                        </div>
                    </div>
                </li>
                <!-- 綁定登入帳號判讀 -->
                <li class="col-100 tablet-50 item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">車商業代</div>
                        <div class="item-input-wrap disabled">
                            <input type="text" placeholder="P125464789">
                        </div>
                        <div class="item-input-wrap disabled">
                            <input type="text" placeholder="李德明">
                        </div>
                    </div>
                </li>
                <li class="col-100 tablet-50 item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">備註說明</div>
                        <div class="item-input-wrap">
                            <textarea placeholder="請輸入"></textarea>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
