<div data-name="add_new_case_4" class="page">
    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back"><span class="icon-arrow_back"></span></a>
                <div class="title">車輛資料</div>
            </div>
            <div class="right">
                <a href="/add_new_case_5/" class="link"><span class="icon-arrow_forward"></span></a>
            </div>
        </div>
    </div>
    <!-- 兩顆按鈕的 Extended FAB -->
    <div class="segmented segmented-raised segmented-round fab fab-extended fab-right-bottom elevation-6">
        <a href="#" class="link button button-round"><span class="icon-image"></span></a>
        <a href="#" class="link button button-round"><span class="icon-camera_alt"></span></a>
    </div>

    <div class="page-content">
        <div class="list">
            <ul class="row no-gap">
                <li class="col-100 tablet-50 swipeout img-upload-li">
                    <div class="item-content swipeout-content elevation-2">
                        <div class="item-media">
                            <span class="icon-doc"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">
                                <p class="subtitle-1">行照／牌登書</p>
                            </div>
                        </div>
                    </div>
                    <div class="swipeout-actions-left">
                        <a href="#"><span class="icon-check_box"></span></a>
                    </div>
                </li>
                <li class="col-100 tablet-50 swipeout img-upload-li">
                    <div class="item-content swipeout-content elevation-2">
                        <div class="item-media">
                            <span class="icon-doc"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">
                                <p class="subtitle-1">參考車價／訂購單（權威／HOT／天書）</p>
                            </div>
                        </div>
                    </div>
                    <div class="swipeout-actions-left">
                        <a href="#"><span class="icon-check_box"></span></a>
                    </div>
                </li>
                <li class="col-100 tablet-50 swipeout img-upload-li checked">
                    <div class="item-content swipeout-content elevation-2">
                        <div class="item-media">
                            <span class="icon-car_survey_list"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">
                                <p class="subtitle-1">車勘表</p>
                                <p class="caption disabled">非必要</p>
                            </div>
                        </div>
                    </div>
                    <div class="swipeout-actions-left">
                        <a href="#"><span class="icon-check_box"></span></a>
                    </div>
                </li>
                <!-- 車勘照 不限為一張吧？ -->
                <!-- 連續拍照時，第四張以後的皆為車勘照，預覽車勘照時連到 /img_group_upload_2/ 畫面 -->
                <li class="col-100 tablet-50 swipeout img-upload-li success">
                    <!-- success 後加.item-link、時間和整個.item-after -->
                    <div class="item-link item-content swipeout-content elevation-2">
                        <div class="item-media">
                            <span class="icon-car_survey_pic_checked"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">
                                <p class="subtitle-1">車勘照</p>
                                <p class="caption">10月5日，週五，上午11:24</p>
                            </div>
                            <div class="item-after"><span class="icon-more_vert"></span></div>
                        </div>
                    </div>
                    <div class="swipeout-actions-left">
                        <a href="#"><span class="icon-check_box"></span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>