<div data-name="add_new_case_3" class="page">
    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back"><span class="icon-arrow_back"></span></a>
                <div class="title">證件上傳</div>
            </div>
            <div class="right">
                <a href="/add_new_case_4/" class="link"><span class="icon-arrow_forward"></span></a>
            </div>
        </div>
    </div>
    <!-- 兩顆按鈕的 Extended FAB -->
    <div class="segmented segmented-raised segmented-round fab fab-extended fab-right-bottom elevation-6">
        <a href="#" class="link button button-round"><span class="icon-image"></span></a>
        <a href="#" class="link button button-round"><span class="icon-camera_alt"></span></a>
    </div>

    <div class="page-content">
        <section>
            <div class="block-title">車主</div>
            <div class="list">
                <ul class="row no-gap">
                    <li class="col-100 tablet-50 swipeout img-upload-li success">
                        <!-- success 後加.item-link、時間和整個.item-after -->
                        <div class="item-link item-content swipeout-content elevation-2">
                            <div class="item-media">
                                <span class="icon-id_card_checked"></span>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">
                                    <p class="subtitle-1">身分證正面</p>
                                    <p class="caption">10月5日，週五，上午11:24</p>
                                </div>
                                <div class="item-after"><span class="icon-more_vert"></span></div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#"><span class="icon-check_box_outline_blank"></span></a>
                        </div>
                    </li>
                    <li class="col-100 tablet-50 swipeout img-upload-li success">
                        <!-- success 後加.item-link、時間和整個.item-after -->
                        <div class="item-link item-content swipeout-content elevation-2">
                            <div class="item-media">
                                <span class="icon-id_card_back_checked"></span>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">
                                    <p class="subtitle-1">身分證反面</p>
                                    <p class="caption">10月5日，週五，上午11:24</p>
                                </div>
                                <div class="item-after"><span class="icon-more_vert"></span></div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#"><span class="icon-check_box"></span></a>
                        </div>
                    </li>
                    <li class="col-100 tablet-50 swipeout img-upload-li success">
                        <!-- success 後加.item-link、時間和整個.item-after -->
                        <div class="item-link item-content swipeout-content elevation-2">
                            <div class="item-media">
                                <span class="icon-id_card_checked"></span>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">
                                    <p class="subtitle-1">第二證件正面</p>
                                    <p class="caption">10月5日，週五，上午11:24</p>
                                </div>
                                <div class="item-after"><span class="icon-more_vert"></span></div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#"><span class="icon-check_box"></span></a>
                        </div>
                    </li>
                    <li class="col-100 tablet-50 swipeout img-upload-li success">
                        <!-- success 後加.item-link、時間和整個.item-after -->
                        <div class="item-link item-content swipeout-content elevation-2">
                            <div class="item-media">
                                <span class="icon-doc_checked"></span>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">
                                    <p class="subtitle-1">JCIC申請書</p>
                                    <p class="caption">10月5日，週五，上午11:24</p>
                                </div>
                                <div class="item-after"><span class="icon-more_vert"></span></div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#"><span class="icon-check_box"></span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <div class="block-title">保人1</div>
            <div class="list">
                <ul class="row no-gap">
                    <li class="col-100 tablet-50 swipeout img-upload-li">
                        <div class="item-content swipeout-content elevation-2">
                            <div class="item-media">
                                <span class="icon-id_card"></span>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">
                                    <p class="subtitle-1">身分證正面</p>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#"><span class="icon-check_box"></span></a>
                        </div>
                    </li>
                    <li class="col-100 tablet-50 swipeout img-upload-li">
                        <div class="item-content swipeout-content elevation-2">
                            <div class="item-media">
                                <span class="icon-id_card_back"></span>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">
                                    <p class="subtitle-1">身分證反面</p>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#"><span class="icon-check_box"></span></a>
                        </div>
                    </li>
                    <li class="col-100 tablet-50 swipeout img-upload-li checked">
                        <div class="item-content swipeout-content elevation-2">
                            <div class="item-media">
                                <span class="icon-id_card"></span>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">
                                    <p class="subtitle-1">第二證件正面</p>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#"><span class="icon-check_box"></span></a>
                        </div>
                    </li>
                    <li class="col-100 tablet-50 swipeout img-upload-li checked">
                        <div class="item-content swipeout-content elevation-2">
                            <div class="item-media">
                                <span class="icon-doc"></span>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">
                                    <p class="subtitle-1">JCIC申請書</p>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#"><span class="icon-check_box"></span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <button class="button link add-guarantor-button"><span class="icon-add"></span>保人2</button>
    </div>
</div>
