<div data-name="case_details" class="page">
    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="/" class="link"><span class="icon-arrow_back"></span></a>
                <div class="title">案件明細</div>
            </div>
        </div>
    </div>
    <!-- Toolbar -->
    <div class="toolbar tabbar">
        <div class="toolbar-inner">
            <a href="#case_details-tab-1" class="tab-link tab-link-active">審核結果</a>
            <a href="#case_details-tab-2" class="tab-link">專案明細</a>
            <a href="#case_details-tab-3" class="tab-link">基本資訊</a>
        </div>
    </div>

    <div class="tabs-swipeable-wrap">
        <div class="tabs">
            <div id="case_details-tab-1" class="page-content tab tab-active">
                <div class="list no-hairlines no-hairlines-between case-details-list">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-media hidden-xxs">
                                    <span class="icon-gavel"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">
                                        <p class="caption">徵審結果</p>
                                        <p class="examining-state body-1 success">
                                            <span class="icon-assignment_turned_in"></span>核准可撥款
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media hidden-xxs">
                                    <span class="icon-find_in_page"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="row">
                                        <div class="col-100 item-title">
                                            <p class="caption">初審</p>
                                        </div>
                                        <div class="col-100 body-1">五十字整體案件說明。一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media hidden-xxs">
                                    <span class="icon-library_books"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="row">
                                        <div class="col-100 item-title">
                                            <p class="caption">覆核</p>
                                        </div>
                                        <div class="col-100 body-1">覆核說明。文字數跟初審整體案件說明一樣不限。</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media hidden-xxs">
                                    <span class="icon-book"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">
                                        <p class="caption">徵信報告書</p>
                                    </div>
                                    <div class="item-after">
                                        <p class="segmented segmented-raised segmented-round">
                                            <!-- 預覽 -->
                                            <button class="button button-round"><span class="icon-open_in_new"></span></button>
                                            <!-- 列印需有浮水印 -->
                                            <button class="button button-round button-active"><span class="icon-print"></span></button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="case_details-tab-2" class="page-content tab">
                <div class="list no-hairlines no-hairlines-between case-details-list">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-media hidden-xxs">
                                    <span class="icon-business_center"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">
                                        <p class="caption">產品類型</p>
                                        <p class="body-1">原融代償／和潤AR</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media hidden-xxs">
                                    <span class="icon-work_outline"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">
                                        <p class="caption">專案名稱</p>
                                        <p class="body-1">信 -（高成數）借新還舊U3（10506）</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media hidden-xxs">
                                    <span class="icon-drive_eta"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">
                                        <p class="caption">車輛資料</p>
                                        <p class="body-1">2011／TOYOTA／ALTIS／TCD-2576</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media hidden-xxs">
                                    <span class="icon-monetization_on"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">
                                        <p class="caption">分期本金</p>
                                        <p class="body-1">$500,000</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media hidden-xxs">
                                    <span class="icon-credit_card"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">
                                        <p class="caption">期付款</p>
                                        <p class="body-1">1~30：18,600</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media hidden-xxs">
                                    <span class="icon-local_offer"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">
                                        <p class="caption">利率</p>
                                        <p class="body-1">8.68%</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="case_details-tab-3" class="page-content tab">
                <div class="list no-hairlines no-hairlines-between case-details-list">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-media hidden-xxs">
                                    <span class="icon-person"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">
                                        <p class="caption">客戶姓名</p>
                                        <p class="body-1">王大明</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media hidden-xxs">
                                    <span class="icon-label"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">
                                        <p class="caption">案號</p>
                                        <p class="body-1">C107082225</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media hidden-xxs">
                                    <span class="icon-today"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">
                                        <p class="caption">進件日期</p>
                                        <p class="body-1">107.8.15</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media hidden-xxs">
                                    <span class="icon-assignment"></span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">
                                        <p class="caption">案件狀態</p>
                                        <p class="examining-state body-1 success">
                                            <span class="icon-assignment_turned_in"></span>撥款文件收件成功
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
