<div data-name="img_upload_2" class="page">
    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="/" class="link">
                   <span class="icon-arrow_back"></span>
                </a>
                <div class="title">撥款文件上傳</div>
            </div>
            <div class="right">
                <a href="/" class="link button col button-round open-toast-bottom">上傳</a>
            </div>
        </div>
    </div>
    <!-- 兩顆按鈕的 Extended FAB -->
    <div class="segmented segmented-raised segmented-round fab fab-extended fab-right-bottom elevation-6">
        <!-- 圖片按鈕先暫連到 img_group_upload_2 -->
        <a href="/img_group_upload_2/" class="link button button-round"><span class="icon-image"></span></a>
        <a href="#" class="link button button-round popup-open" data-popup=".popup-camera"><span class="icon-camera_alt"></span></a>
    </div>

    <div class="page-content">
        <div class="block-title card-row-title">10月5日，週五</div>
        <div class="row no-gap photo-card-row">
            <div class="col-50 tablet-33 desktop-20">
                <div class="card">
                    <div class="card-content">
                        <a href="#" class="link popup-open" data-popup=".popup-img-edit"></a>
                    </div>
                    <div class="card-footer">
                        <div class="left body-2">圖片檔名</div>
                        <div class="right">
                            <button class="button col button-round icon-button sheet-open" data-sheet=".photo-card-sheet">
                                 <span class="icon-more_vert"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-50 tablet-33 desktop-20">
                <div class="card">
                    <div class="card-content">
                        <a href="#" class="link popup-open" data-popup=".popup-img-edit"></a>
                    </div>
                    <div class="card-footer">
                        <div class="left body-2">IMG_20180921_120312-min.jpg</div>
                        <div class="right">
                            <button class="button col button-round icon-button sheet-open" data-sheet=".photo-card-sheet">
                                 <span class="icon-more_vert"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-50 tablet-33 desktop-20">
                <div class="card">
                    <div class="card-content">
                        <a href="#" class="link popup-open" data-popup=".popup-img-edit"></a>
                    </div>
                    <div class="card-footer">
                        <div class="left body-2">IMG_20180921_120324-min.jpg</div>
                        <div class="right">
                            <button class="button col button-round icon-button sheet-open" data-sheet=".photo-card-sheet">
                                 <span class="icon-more_vert"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-50 tablet-33 desktop-20">
                <div class="card">
                    <div class="card-content">
                        <a href="#" class="link popup-open" data-popup=".popup-img-edit"></a>
                    </div>
                    <div class="card-footer">
                        <div class="left body-2">IMG_20180921_120330-min.jpg</div>
                        <div class="right">
                            <button class="button col button-round icon-button sheet-open" data-sheet=".photo-card-sheet">
                                 <span class="icon-more_vert"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sheet modal start -->
            <div class="sheet-modal photo-card-sheet">
                <div class="sheet-modal-inner">
                    <div class="list no-hairlines">
                        <ul>
                            <li>
                                <a href="#" class="link item-link item-content sheet-close popup-open" data-sheet=".photo-card-sheet" data-popup=".popup-img-edit">
                                    <div class="item-media"><span class="icon-crop_rotate"></span></div>
                                    <div class="item-inner">
                                        <div class="item-title">編輯圖片</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link item-link item-content">
                                    <div class="item-media"><span class="icon-image"></span></div>
                                    <div class="item-inner">
                                        <div class="item-title">重新選取圖片</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link item-link item-content">
                                    <div class="item-media"><span class="icon-photo_camera"></span></div>
                                    <div class="item-inner">
                                        <div class="item-title">重新拍照</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link item-link item-content">
                                    <div class="item-media"><span class="icon-folder"></span></div>
                                    <div class="item-inner">
                                        <div class="item-title">另存圖片</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link item-link item-content">
                                    <div class="item-media"><span class="icon-picture_as_pdf"></span></div>
                                    <div class="item-inner">
                                        <div class="item-title">另存為PDF</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link item-link item-content">
                                    <div class="item-media"><span class="icon-print"></span></div>
                                    <div class="item-inner">
                                        <div class="item-title">列印</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link item-link item-content">
                                    <div class="item-media"><span class="icon-delete"></span></div>
                                    <div class="item-inner">
                                        <div class="item-title">刪除</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- sheet modal end -->
        </div>
    </div>

    <!-- 圖片編輯 Popup 畫面 -->
    <div class="popup popup-tablet-fullscreen popup-img-edit">
        <!-- Top Navbar -->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link popup-close">
                   <span class="icon-close"></span>
                </a>
                    <div class="title">編輯</div>
                </div>
            </div>
        </div>

        <div class="swiper-container swiper-init">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img-edit-crop-area">
                        <button class="crop-corner-button"></button>
                        <button class="crop-corner-button"></button>
                        <button class="crop-corner-button"></button>
                        <button class="crop-corner-button"></button>
                        <img src="image/photo.jpg">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-edit-crop-area">
                        <button class="crop-corner-button"></button>
                        <button class="crop-corner-button"></button>
                        <button class="crop-corner-button"></button>
                        <button class="crop-corner-button"></button>
                        <img src="image/photo.jpg">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-edit-crop-area">
                        <button class="crop-corner-button"></button>
                        <button class="crop-corner-button"></button>
                        <button class="crop-corner-button"></button>
                        <button class="crop-corner-button"></button>
                        <img src="image/photo.jpg">
                    </div>
                </div>
            </div>
        </div>
<!--
        <div class="img-edit-view">
            <div class="img-edit-crop-area">
                <button class="crop-corner-button"></button>
                <button class="crop-corner-button"></button>
                <button class="crop-corner-button"></button>
                <button class="crop-corner-button"></button>
                <img src="image/photo.jpg">
            </div>
        </div>
-->
        <div class="img-edit-toobar">
            <!-- 圖片旋轉角度 range slider -->
            <div class="range-slider-wrap">
                <div class="row angle-caption-row">
                    <div class="col caption">-90°</div>
                    <div class="col caption">-45°</div>
                    <div class="col caption text-right">45°</div>
                    <div class="col caption text-right">90°</div>
                </div>
                <!-- Framework7 range slider -->
                <div class="range-slider range-slider-init">
                    <input type="range" min="0" max="180" step="1" value="90">
                </div>
            </div>
            <div class="btn-group">
                <!-- 90度旋轉 -->
                <button class="button col button-round icon-button"><span class="icon-rotate_90_degrees_ccw"></span></button>
                <button class="button col">重設</button>
                <button class="button col button-fill">儲存</button>
            </div>
        </div>
    </div>
</div>