<div data-name="img_group_upload" class="page">
    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back">
                   <span class="icon-arrow_back"></span>
                </a>
                <div class="title">撥款文件上傳</div>
            </div>
        </div>
    </div>
    <!-- 兩顆按鈕的 Extended FAB -->
    <div class="segmented segmented-raised segmented-round fab fab-extended fab-right-bottom elevation-6">
        <!-- 圖片按鈕先暫連到 img_group_upload_2 -->
        <a href="/img_group_upload_2/" class="link button button-round"><span class="icon-image"></span></a>
        <a href="#" class="link button button-round popup-open" data-popup=".popup-camera"><span class="icon-camera_alt"></span></a>
    </div>

    <div class="page-content">
        <div class="placeholder-area">
            <img src="image/img_upload_illustration.svg">
            <p class="body-2">請依「債權／一般文件編號」順序上傳照片<br>每次上傳最多20張</p>
        </div>
    </div>

    <!-- 相機 Popup 畫面 -->
    <div class="popup popup-tablet-fullscreen popup-camera">
        <div class="camera-view">
            <div class="camera-crop-area"></div>
            <div class="camera-hint">請將證件正本置於框內拍攝</div>
        </div>
        <div class="camera-toobar">
            <div class="range-slider-wrap">
                <!-- Framework7 range slider -->
                <div class="range-slider range-slider-init">
                    <input type="range" min="0" max="100" step="1" value="10">
                </div>
            </div>
            <div class="btn-group">
                <!-- Popup Close -->
                <a href="#" class="button col button-round icon-button link popup-close"><span class="icon-close"></span></a>
                <!-- 佔位用 -->
                <button class="button col button-round icon-button" disabled></button>
                <!-- 拍照 -->
                <button class="button col button-round camera-shot-button"></button>
                <!-- 閃光燈 -->
                <button class="button col button-round icon-button">
                    <span class="icon-flash_auto"></span>
                    <!--<span class="icon-flash_off"></span>-->
                    <!--<span class="icon-flash_on"></span>-->
                </button>
                <!-- 取消拍照、改為選取圖片上傳 -->
                <button class="button col button-round icon-button"><span class="icon-image"></span></button>
            </div>
        </div>
    </div>
</div>
