<div data-name="last_news" class="page">
    <div class="page-content last-news-content">
        <header class="surface-secondary elevation-4">
            <h6>最新消息</h6>
        </header>
        <div data-pagination='{"el": ".swiper-pagination"}' class="swiper-container swiper-init">
            <div class="swiper-pagination"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <p class="overline">今天，下午02:31</p>
                    <h5>消息標題</h5>
                    <p class="body-2">
                        某個政策更改，請注意之後如遇到某個特殊情況，要記得圈圈叉叉喔。花局著高方人書以居的，紀一連院銷他自曾際。件華方動加團件分天負，花局著高方人書以居的，紀一連院銷他自曾際。
                    </p>
                </div>
                <div class="swiper-slide">
                    <p class="overline">10月5日，週五，上午11:24</p>
                    <h5>又一個消息標題</h5>
                    <p class="body-2">
                        原是標雖金真，為府完起作比然色在出於的市職。
                    </p>
                    <p class="body-2">
                        歡規民有出文白破，風今連遠資裡代破學經樹形可；市可定分來心水傳，歷廣洲開委進我回放值、境自我政推整動下看的，常息樹臺步，活考三把雄聯。
                    </p>
                </div>
            </div>
        </div>
        <footer class="block">
            <a href="/" class="link col button button-big button-fill">知道了</a>
        </footer>
    </div>
</div>
