<div data-name="setting_screen_lock" class="page">
    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back"><span class="icon-arrow_back"></span></a>
                <div class="title">螢幕鎖定</div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="list">
            <ul class="row no-gap">
                <li class="col-100 tablet-50">
                    <div class="item-content">
                        <div class="item-media">
                            <span class="icon-fingerprint"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title subtitle-1">以指紋解鎖</div>
                            <div class="item-after">
                                <label class="toggle toggle-init">
                                    <input type="checkbox" checked>
                                    <span class="toggle-icon"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-100 tablet-50">
                    <div class="item-content">
                        <div class="item-media">
                            <span class="icon-dialpad"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title subtitle-1">以密碼鎖解鎖</div>
                            <div class="item-after">
                                <label class="toggle toggle-init">
                                    <input type="checkbox" checked>
                                    <span class="toggle-icon"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-100 tablet-50">
                    <a href="#" class="item-link item-content login-screen-open" data-login-screen="#my-passcode-screen">
                        <div class="item-media">
                            <span class="icon-keyboard_return"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title subtitle-1">變更密碼鎖</div>
                        </div>
                    </a>
                </li>
                <li class="col-100 tablet-50">
                    <a class="item-link smart-select smart-select-init">
                        <select name="screen-lock-limitation-period">
                          <option value="immediately">立即</option>
                          <option value="1min" selected>1分鐘</option>
                          <option value="5min">5分鐘</option>
                          <option value="15min">15分鐘</option>
                          <option value="1hr">1小時</option>
                          <option value="5hr">5小時</option>
                        </select>
                        <div class="item-content">
                          <div class="item-media">
                              <span class="icon-schedule"></span>
                            </div>
                          <div class="item-inner">
                            <div class="item-title">解鎖時效</div>
                          </div>
                        </div>
                      </a>
                </li>
            </ul>
        </div>
    </div>
</div>
