<div data-name="setting" class="page">
    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="/" class="link"><span class="icon-arrow_back"></span></a>
                <div class="title">設定</div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="list">
            <ul class="row no-gap">
                <li class="col-100 tablet-50">
                    <a href="#" class="item-link item-content open-phone-nums">
                        <div class="item-media">
                            <span class="icon-smartphone"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">
                                <p class="subtitle-1">手機門號</p>
                                <p class="caption">0955 953757</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-100 tablet-50">
                    <div class="item-content">
                        <div class="item-media">
                            <span class="icon-lock"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">
                                <p class="subtitle-1">識別碼</p>
                                <p class="caption disabled">867601034392594</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-100 tablet-50">
                    <div class="item-content">
                        <div class="item-media">
                            <span class="icon-memory"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">
                                <p class="subtitle-1">記憶體要求</p>
                                <p class="caption disabled">250MB以上</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-100 tablet-50">
                    <div class="item-content">
                        <div class="item-media">
                            <span class="icon-loop"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">
                                <p class="subtitle-1">定時連線</p>
                                <p class="caption disabled">每3分鐘</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-100 tablet-50 range-slider-li">
                    <div class="item-content">
                        <div class="item-media">
                            <span class="icon-history"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title subtitle-1">
                                <p class="subtitle-1">保留歷史天數</p>
                                <p class="caption history-day-nums">7天</p>
                            </div>
                            <div class="item-after">
                                <div id="history-day-nums-range-slider" class="range-slider range-slider-init" data-label="true" data-min="1" data-max="31" data-step="1" data-value="7"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-100 tablet-50">
                    <div class="item-content">
                        <div class="item-media">
                            <span class="icon-crop_original"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title subtitle-1">照片自動直立</div>
                            <div class="item-after">
                                <label class="toggle toggle-init">
                                    <input type="checkbox">
                                    <span class="toggle-icon"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-100 tablet-50">
                    <div class="item-content">
                        <div class="item-media">
                            <span class="icon-volume_up"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title subtitle-1">鈴聲提醒</div>
                            <div class="item-after">
                                <label class="toggle toggle-init">
                                    <input type="checkbox" checked>
                                    <span class="toggle-icon"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-100 tablet-50">
                    <a href="/setting_screen_lock/" class="item-link item-content">
                        <div class="item-media">
                            <span class="icon-screen_lock_portrait"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">
                                <p class="subtitle-1">螢幕鎖定</p>
                                <p class="caption">密碼鎖、指紋辨識，解鎖時效1分鐘</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-100 tablet-50">
                    <!-- 點了後若不是最新版本，則會更新？ 那就要加.item-link和去除.disabled -->
                    <div class="item-content">
                        <div class="item-media">
                            <span class="icon-code"></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">
                                <p class="subtitle-1">版本號</p>
                                <p class="caption disabled">2018123101</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
